:root {
    /* 字体 */
    --b3-font-family: "QYL fonts times", "QYL fonts", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", "sans-serif","Twitter Emoji","Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !important;
   
    /* 主色 */
    --b3-theme-primary: #3575f0;
    --b3-theme-primary-light: rgba(53, 117, 240, .54);
    --b3-theme-primary-lighter: rgba(53, 117, 240, .38);
    --b3-theme-primary-lightest: rgba(53, 117, 240, .12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #FFFFFF;/* 编辑器背景色 */
    --b3-theme-background-light: #dfe0e1;/* 悬浮背景色 */
    --b3-theme-surface: rgb(246, 246, 246);/* 文档树面板色 */
    --b3-theme-surface-light: rgba(243, 243, 243, .86);
    --b3-theme-surface-lighter: #e0e0e0;
    --b3-theme-error: #d23f31;
    --b3-theme-success: #65b84d;
    --b3-theme-notfocus: #6a6a6a;
    --b3-protyle-inline-mark-background: rgb(61, 189, 127, 0.3);/* 标记色 */

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #222;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-surface-light: rgba(95, 99, 104, .68);
    --b3-theme-on-error: #fff;
   
    /* 标题颜色 */
    --h1: #881400 ;
    --h2: #dc9f46 ;
    --h3: #4a6d42 ;
    --h4: #3a5779 ;
    --h5: #815989 ;
    --h6: #ba4688 ;

    /* 线条/圆角矩形 */
    --b3-border-color: var(--b3-theme-surface-lighter);
    --b3-border-radius: 10px;
    --b3-border-radius-b: 16px;

    /* 容器阴影 */
    --b3-point-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1), 0 12px 18px rgba(0, 0, 0, 0.1);
    --b3-dialog-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1), 0 12px 18px rgba(0, 0, 0, 0.1);
    --b3-button-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1), 0 12px 18px rgba(0, 0, 0, 0.1);
    --b3-light-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 设置全局字体 */
@font-face {
    font-family: "QYL fonts";
    font-style: normal;
    src: url("fonts/SourceHanSerifCN-SemiBold.otf");
}
@font-face {
    font-family: "QYL fonts";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/SourceHanSerifCN-Heavy.otf");
}
@font-face {
    font-family: "QYL fonts times";
    font-style: normal;
    src: url("fonts/times.ttf");
}
@font-face {
    font-family: "QYL fonts times";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/timesbd.ttf");
}

/* 斜杠菜单展开 */
@media screen and (min-width: 1292px) {
    .protyle-hint.hint--menu {
        width: 75vw !important;
        max-width: 84em;
        max-height: 65vh;
    }
    .protyle-hint.hint--menu>div {
        -moz-column-width: 12em;
        column-width: 12em!important;
        -moz-column-gap: 4px;
        column-gap: 4px;
        -moz-column-rule: 1px solid var(--b3-border-color);
        column-rule: 1px solid var(--b3-border-color);
        columns: 12em!important;
    }
   .protyle-hint.hint--menu>div .b3-list-item .b3-list-item__text {
        width: -moz-max-content;
        width: max-content;
        margin-right: 4px
    }
    .protyle-hint.hint--menu>div .b3-menu__separator:not(:nth-of-type(2n + 4)) {
        -moz-column-break-before: column;
        break-before: column;
        margin-bottom: -5px;
        background-color: rgba(0,0,0,0);
    }
    .protyle-hint.hint--menu>.emojis {
        min-width: 50vw
    }
}

/* 主菜单按钮 */
#barWorkspace {
    width: 65px;
    height: 25px;
    border-radius: var(--b3-border-radius);
    background-color: var(--b3-theme-primary);
    align-items: center;
    justify-content: center;
}
#barWorkspace span.toolbar__text {
    font-family: "QYL fonts";
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-transform: none;
}
#barWorkspace svg.toolbar__svg {
    color: white;
    opacity: 1;
    margin-top: 2.5px;
    display: none;
}
#barWorkspace:hover { filter: brightness(0.9); }
#barWorkspace:active { filter: brightness(0.8); }

/* 分割线 */
.hr {
    border: none;
    position: relative;
    height: 1px;
    overflow: hidden;
}
.hr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(51, 117, 240, 0.5), hsla(219, 86%, 57%, 0.6), rgba(51, 117, 240, 0.5));
}

/* 块标平滑切换 */
.protyle-gutters { transition: all 0.2s ease-out; }

/* 彩色多级标题 */
.b3-typography .h1,.b3-typography h1,.protyle-wysiwyg .h1,.protyle-wysiwyg h1 { color: var(--h1); }
.b3-typography .h2,.b3-typography h2,.protyle-wysiwyg .h2,.protyle-wysiwyg h2 { color: var(--h2); }
.b3-typography .h3,.b3-typography h3,.protyle-wysiwyg .h3,.protyle-wysiwyg h3 { color: var(--h3); }
.b3-typography .h4,.b3-typography h4,.protyle-wysiwyg .h4,.protyle-wysiwyg h4 { color: var(--h4); }
.b3-typography .h5,.b3-typography h5,.protyle-wysiwyg .h5,.protyle-wysiwyg h5 { color: var(--h5); }
.b3-typography .h6,.b3-typography h6,.protyle-wysiwyg .h6,.protyle-wysiwyg h6 { color: var(--h6); }
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h1::before { background-color: rgba(136, 20, 0, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h2::before { background-color: rgba(220, 160, 70, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h3::before { background-color: rgba(58, 87, 121, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h4::before { background-color: rgba(74, 109, 66, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h5::before { background-color: rgba(129, 89, 137, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h6::before { background-color: rgba(186, 70, 136, 0.25);}

/* 表格优化 */
th, tr:nth-child(odd) td, tr:nth-child(even) td { border: 2px solid var(--b3-theme-notfocus) !important; }
th { background-color: var(--b3-theme-primary-lightest) ; }
tr:nth-child(odd) td { background-color: rgba(0, 0, 0, 0) ; }
tr:nth-child(even) td { background-color: rgba(0, 0, 0, 0.05) !important; }


/* 块提示 */
.p.highlight {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), -2px -2px 6px rgba(0, 0, 0, 0.5), 0 0 12px rgba(0, 0, 0, 0.2) !important;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out !important;
}
.p.highlight:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), -2px -2px 6px rgba(0, 0, 0, 0.5), 0 0 12px rgba(0, 0, 0, 0.2) !important;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out !important;
}

/* 状态栏浮动到右侧 */
#status {
    position: fixed;
    right: 55px !important;
    bottom: 5px;
    border-radius: var(--b3-border-radius);
    height: 27px !important;
    padding: 0px 5px 0px !important;
    overflow: hidden;
    z-index: 3;
    border: none;
    background-color: var(--b3-theme-surface);
    display: flex;
    align-items: center;
    transition: 0.5s;
    box-shadow: var(--b3-dialog-shadow);
}
#status:hover {
    background-color: var(--b3-theme-background-light);
}
#barDock {
    position: relative;
    order: 1;
}
#statusHelp {
    position: relative;
}

/* 行级代码 */
.b3-typography code:not(.hljs),.b3-typography span[data-type~=code],.protyle-wysiwyg code:not(.hljs),.protyle-wysiwyg span[data-type~=code] {
    color: red;
}

/* 页签栏 */
.layout-tab-bar .item {
    min-height: 20px;
    height: 25px;
    margin: 6px;
    transition: 0.2s;
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus) {
    background-color: var(--b3-theme-background);
    border-radius: var(--b3-border-radius);
    transition: 0.5s;
    border: 1.5px solid var(--b3-theme-notfocus) !important;
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus):hover {
    background-color: rgb(223, 224, 225, 0.7);
}
.item.item--focus {
    background-color: var(--b3-theme-background);
    border-radius: var(--b3-border-radius);
    border: 1.5px solid var(--b3-theme-primary) !important;
}
.item.item--focus:hover {
    background-color: var(--b3-theme-primary-lightest);
}
.layout__wnd--active .layout-tab-bar .item:after, .layout-tab-bar .item--full.item--focus::after, .layout-tab-bar .item--focus::after {
    display:none;
}
.layout-tab-bar {
    border-bottom: 0px solid rgba(0,0,0,0);
}
.layout-tab-bar .item__text {
    padding-top: 2px;
}
.layout-tab-bar .item.item--focus .item__close svg {
    background-color: rgba(241, 241, 241, 0);
    color: black;
    opacity: 1 !important;
}
.layout-tab-bar .item.item--focus .item__close svg:hover {
    background-color: var(--b3-theme-error);
    color: rgb(255, 255, 255);
}
.layout-tab-bar .item:hover .item__close svg {
    background-color: rgba(241, 241, 241, 0);
    color: black;
    opacity: 1 !important;
}
.layout-tab-bar .item:hover .item__close svg:hover {
    background-color: var(--b3-theme-error);
    color: rgb(255, 255, 255);
}
.config-bazaar__title {
    padding: 8px;
}
.av__header .layout-tab-bar .item__text {
    padding-left: 1px;
    padding-bottom: 3px;
}
li.item.item--readonly {
    border-top: 2px solid rgba(255, 0, 0, 0) !important;
}

/* 退出聚焦 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    background-color: var(--b3-theme-primary);
    color: white;
}
.protyle-breadcrumb button[data-type="exit-focus"]:hover {
    filter: brightness(0.9);
}

/* 标签 */
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+1) {
    border-radius: var(--b3-border-radius);
    border: 2px solid #e2041b;
    padding: 3px 5px;
    color: #e2041b;
    margin-left: 3px;
    margin-right: 3px;
    font-size: smaller;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+1)::before {
    content: "#";
    color: #e2041b;
    margin-right: 5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+1):hover {
    background-color: rgba(226, 4, 26, 0.1);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+2) {
    border-radius: var(--b3-border-radius);
    border: 2px solid #007bbb;
    padding: 3px 5px;
    color: #007bbb;
    margin-left: 3px;
    margin-right: 3px;
    font-size: smaller;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+2)::before {
    content: "#";
    color: #007bbb;
    margin-right: 5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+2):hover {
    background-color: rgba(0, 121, 187, 0.1);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+3) {
    border-radius: var(--b3-border-radius);
    border: 2px solid #b44c97;
    padding: 3px 5px;
    color: #b44c97;
    margin-left: 3px;
    margin-right: 3px;
    font-size: smaller;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+3)::before {
    content: "#";
    color: #b44c97;
    margin-right: 5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+3):hover {
    background-color: rgba(180, 76, 151, 0.1);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+4) {
    border-radius: var(--b3-border-radius);
    border: 2px solid #028760;
    padding: 3px 5px;
    color: #028760;
    margin-left: 3px;
    margin-right: 3px;
    font-size: smaller;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+4)::before {
    content: "#";
    color: #028760;
    margin-right: 5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+4):hover {
    background-color: rgba(2, 135, 95, 0.1);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+5) {
    border-radius: var(--b3-border-radius);
    border: 2px solid #f8b500;
    padding: 3px 5px;
    color: #f8b500;
    margin-left: 3px;
    margin-right: 3px;
    font-size: smaller;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+5)::before {
    content: "#";
    color: #f8b500;
    margin-right: 5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+5):hover {
    background-color: rgba(248, 182, 0, 0.1);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+6) {
    border-radius: var(--b3-border-radius);
    border: 2px solid #3b2e7e;
    padding: 3px 5px;
    color: #3b2e7e;
    margin-left: 3px;
    margin-right: 3px;
    font-size: smaller;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+6)::before {
    content: "#";
    color: #3b2e7e;
    margin-right: 5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+6):hover {
    background-color: rgba(59, 46, 126, 0.1);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+7) {
    border-radius: var(--b3-border-radius);
    border: 2px solid #ff7500;
    padding: 3px 5px;
    color: #ff7500;
    margin-left: 3px;
    margin-right: 3px;
    font-size: smaller;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+7)::before {
    content: "#";
    color: #ff7500;
    margin-right: 5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+7):hover {
    background-color: rgba(255, 119, 0, 0.1);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n) {
    border-radius: var(--b3-border-radius);
    border: 2px solid #44cef6;
    padding: 3px 5px;
    color: #44cef6;
    margin-left: 3px;
    margin-right: 3px;
    font-size: smaller;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n)::before {
    content: "#";
    color: #44cef6;
    margin-right: 5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n):hover {
    background-color: rgba(68, 207, 246, 0.1);
}

/* 圆形关闭键 */
.b3-dialog__close:hover {
    color: var(--b3-theme-error);
}
.b3-menu__action.b3-menu__action--close:hover {
    color: var(--b3-theme-error);
}

/* 键盘元素 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd] {
    background: linear-gradient(to bottom, #5c94fc, #3575f0);
    color: white;
    border: 2px solid #4a89e6;
    border-radius: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

/* 选中项效果（文档树、大纲、菜单） */
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus):not(.dragover):not(.protyle-wysiwyg--select):not(.protyle-wysiwyg--hl):not(.dragover__top):not(.dragover__bottom), .b3-list--background .b3-list-item--focus:not(.dragover):not(.protyle-wysiwyg--select):not(.protyle-wysiwyg--hl):not(.dragover__top):not(.dragover__bottom) {
    background-color: rgb(223, 224, 225, 0.7);
}
.b3-list--background .b3-list-item, li.b3-list-item  {
    border-radius: var(--b3-border-radius);
    margin-bottom: 2px;
}
.b3-menu__item--current:not(.b3-menu__item--readonly) {
    background-color: rgb(223, 224, 225, 0.7);
}
.b3-menu__item {
    margin: 0px;
}
.fn__flex-1.fn__flex-column.file-tree.sy__file .b3-list-item:hover, .fn__flex-1.fn__flex-column.file-tree.sy__file .b3-list--background .b3-list-item:hover:not(.b3-list-item--focus), .fn__flex-1.fn__flex-column.file-tree.sy__file .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    background-color: rgb(223, 224, 225, 0.7);
}

/* 任务列表 */
.protyle .protyle-wysiwyg .li[data-subtype=o]>.protyle-action:hover, .protyle .protyle-wysiwyg .li[data-subtype=u]>.protyle-action:hover, .protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t]>.protyle-action:hover {
    color: var(--b3-theme-primary);
}
.protyle .protyle-wysiwyg .li[data-subtype=o]>.protyle-action:hover::after, .protyle .protyle-wysiwyg .li[data-subtype=u]>.protyle-action:hover::after, .protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t]>.protyle-action:hover::after {
    background-color: var(--b3-theme-primary-lightest);
}
.av__checkbox:hover, .av__firstcol svg:hover {
    color: var(--b3-theme-primary);
}

/* 界面整体优化 */
#toolbar {
    border: none;
}
.dock#dockLeft {
    border: none;
}
.dock#dockRight {
    border: none;
}
.layout__resize::after {
    background-color: var(--b3-theme-background-light);
}
.layout__resize--lr::after {
    width: 2px;
}
.block__logoicon {
    color: var(--b3-theme-primary);
}

/* 超链接 */
.protyle-wysiwyg [data-node-id] span[data-type~=a]:hover {
    background-color: rgb(66, 133, 244, 0.2);
    border-bottom: none;
    transition: 0.25s;
}
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext):hover, .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]:hover {
    background-color: rgb(137, 87, 229, 0.2);
    transition: 0.25s;
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url, .av__celltext.av__celltext--url, .av__celltext--url.b3-chip {
    color: rgb(137, 87, 229);
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url:hover, .av__celltext.av__celltext--url:hover, .av__celltext--url.b3-chip:hover {
    background-color: rgb(137, 87, 229, 0.2);
    transition: 0.25s;
}

/* 块属性 */
.protyle-wysiwyg--attr .protyle-attr>div:not(.protyle-attr--memo):not(.protyle-attr--refcount) {
    color: var(--b3-theme-primary);
    border-radius: var(--b3-border-radius);
}
.protyle-wysiwyg--attr .protyle-attr>div:not(.protyle-attr--memo):not(.protyle-attr--refcount):hover {
    background-color: var(--b3-theme-primary-lightest);
}
.protyle-attr>div:not(.protyle-attr--refcount).protyle-attr--memo svg {
    color: var(--b3-theme-error);
}

/* 闪卡标识 */
.protyle-wysiwyg [data-node-id][custom-riff-decks] {
    box-shadow: -5px 0 0 0 #3DBD7F;
    transition: 0s;
}

/* 嵌入块 */
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    background: linear-gradient(145deg, #ffffff, #f5f5f5);
    box-shadow: var(--b3-dialog-shadow);
    border: none;
}

/* 行级备注 */
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-color: rgba(255, 0, 0, 0);
    border-bottom: 2px dashed red;
}

/* 备注界面 */
.tooltip--memo {
    width: 300px;
    min-height: fit-content;
    line-height: 20px;
    text-align: justify;
    color: grey;
    background-color: #fff9c4;
    padding: 20px 10px;
    border-top: 6px solid #fff000;
    border-radius: var(--b3-border-radius);
    margin-top: 5px;
    box-shadow: var(--b3-point-shadow);
}

/* 列表折叠背景色 */
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action::after {
    background-color: var(--b3-theme-primary-lighter);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action {
    color: var(--b3-theme-primary);
}

/* 引述块 */
.b3-typography blockquote::before, .b3-typography .bq::before, .protyle-wysiwyg blockquote::before, .protyle-wysiwyg .bq::before {
    background-color: var(--b3-theme-primary);
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 0px;
    width: 8px;
}
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
    background-color: var(--b3-theme-primary-lightest);
    border-radius: 0px;
}

/* 钉住 */
.layout-tab-bar .item--pin .item__graphic, .layout-tab-bar .item--pin .item__icon {
    padding: 4px 0 4px 8px;
}
.layout-tab-bar .item.item--pin .item__text {
    display: flex !important;
}
.layout-tab-bar .item--pin .item__close {
    display: flex !important;
    pointer-events: none;

}
.layout-tab-bar .item--pin .item__close svg {
    color: rgba(255, 0, 0, 0) !important;
}
.layout-tab-bar .item--pin .item__close::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--b3-theme-on-background);
    border-radius: 50%;
    box-shadow: 0 0 0 2px gray, 0 0 0 4px lightgray;
}