:root {
    /* 主色 */
    --b3-theme-primary: #3573f0;
    --b3-theme-primary-light: rgba(53, 115, 240, .72);
    --b3-theme-primary-lighter: rgba(53, 115, 240, .48);
    --b3-theme-primary-lightest: rgba(53, 115, 240, .24);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #1e1e1e;
    --b3-theme-background-light: rgba(255, 255, 255, .075);
    --b3-theme-surface: #262626;
    --b3-theme-surface-light: rgba(41, 42, 45, .86);
    --b3-theme-surface-lighter: rgba(230, 230, 230, .06);
    --b3-theme-error: #d23f31;
    --b3-theme-success: #65b84d;
    --b3-theme-notfocus: #6a6a6a;
    --b3-protyle-inline-mark-color: #dadada;
    --b3-protyle-inline-mark-background: rgba(60, 172, 78, 0.8);/* 标记色 */
    --hovercurrent: rgba(117, 117, 117, 0.7);
    --b3-theme-filetree: rgba(84, 84, 84, 0.2);
    --b3-protyle-inline-link-color: rgb(124, 166, 215);
    --b3-protyle-inline-blockref-color: rgb(180, 149, 195);
    --b3-protyle-inline-fileref-color: rgb(122, 175, 122);

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #dadada;
    --b3-theme-on-surface: #9aa0a6;
    --b3-theme-on-surface-light: #bababa;
    --b3-theme-on-error: #fff;
   
    /* 标题颜色 */
    --h1: #ce8080;
    --h2: #c6a16a;
    --h3: #8fc583;
    --h4: #7394ba;
    --h5: #9466a1;
    --h6: #b0788e;

    /* 线条/圆角矩形 */
    --b3-border-color: var(--b3-theme-surface-lighter);
    --b3-border-radius: 10px;
    --b3-border-radius-b: 10px;
    --b3-border-radius-q: 16px;

    /* 容器阴影 */
    --b3-point-shadow: 0 2px 4px rgba(255, 255, 255, 0.1), 0 4px 6px rgba(255, 255, 255, 0.1);
    --b3-dialog-shadow: 0 2px 4px rgba(255, 255, 255, 0.1), 0 4px 6px rgba(255, 255, 255, 0.1);
    --b3-button-shadow: 0 2px 4px rgba(255, 255, 255, 0.1), 0 4px 6px rgba(255, 255, 255, 0.1);
    --b3-light-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    
    /* 动画效果 */
    --b3-transition: all .1s cubic-bezier(0, 0, .1, 1) 0ms;
    --b3-width-transition: width .1s cubic-bezier(0, 0, .1, 1) 0ms;
    --b3-color-transition: color .1s cubic-bezier(0, 0, .1, 1) 0ms;
    --b3-background-transition: background 10ms ease-in 0s;
}

/* 斜杠菜单展开 */
@media screen and (min-width: 1292px) {
    .protyle-hint.hint--menu {
        width: 75vw !important;
        max-width: 84em;
        max-height: 65vh;
        border: none;
        background-color: var(--b3-theme-background);
    }
    .protyle-hint.hint--menu>div {
        -moz-column-width: 12em;
        column-width: 12em!important;
        -moz-column-gap: 4px;
        column-gap: 4px;
        -moz-column-rule: 1px solid var(--b3-border-color);
        column-rule: 1px solid var(--b3-border-color);
        columns: 12em!important;
    }
   .protyle-hint.hint--menu>div .b3-list-item .b3-list-item__text {
        width: -moz-max-content;
        width: max-content;
        margin-right: 4px
    }
    .protyle-hint.hint--menu>div .b3-menu__separator:not(:nth-of-type(2n + 4)) {
        -moz-column-break-before: column;
        break-before: column;
        margin-bottom: -5px;
        background-color: rgba(0,0,0,0);
    }
    .protyle-hint.hint--menu>.emojis {
        min-width: 50vw
    }
}

/* 主菜单按钮 */
#barWorkspace {
    width: 65px;
    height: 25px;
    border-radius: var(--b3-border-radius);
    background-color: var(--b3-theme-primary);
    align-items: center;
    justify-content: center;
}
#barWorkspace span.toolbar__text {
    font-family: "QYL fonts";
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-transform: none;
}
#barWorkspace svg.toolbar__svg {
    color: white;
    opacity: 1;
    margin-top: 2.5px;
    display: none;
}
#barWorkspace:hover { filter: brightness(0.9); }
#barWorkspace:active { filter: brightness(0.8); }

/* 分割线 */
.protyle-wysiwyg [data-node-id].hr>div::after {
    height: 3px;
    background-color: var(--b3-theme-on-surface);
}

/* 块标平滑切换 */
.protyle-gutters { transition: all 0.2s ease-out; }

/* 彩色多级标题 */
.b3-typography .h1,.b3-typography h1,.protyle-wysiwyg .h1,.protyle-wysiwyg h1 { color: var(--h1); }
.b3-typography .h2,.b3-typography h2,.protyle-wysiwyg .h2,.protyle-wysiwyg h2 { color: var(--h2); }
.b3-typography .h3,.b3-typography h3,.protyle-wysiwyg .h3,.protyle-wysiwyg h3 { color: var(--h3); }
.b3-typography .h4,.b3-typography h4,.protyle-wysiwyg .h4,.protyle-wysiwyg h4 { color: var(--h4); }
.b3-typography .h5,.b3-typography h5,.protyle-wysiwyg .h5,.protyle-wysiwyg h5 { color: var(--h5); }
.b3-typography .h6,.b3-typography h6,.protyle-wysiwyg .h6,.protyle-wysiwyg h6 { color: var(--h6); }

/* 表格优化 */
th,td {
    border: 1.5px solid var(--b3-theme-on-surface) !important;
    background-color: rgba(255, 0, 0, 0) !important;
}

/* 块提示 */
.p.highlight {
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.5), -2px -2px 6px rgba(255, 255, 255, 0.5), 0 0 12px rgba(255, 255, 255, 0.2) !important;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out !important;
}
.p.highlight:hover {
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.5), -2px -2px 6px rgba(255, 255, 255, 0.5), 0 0 12px rgba(255, 255, 255, 0.2) !important;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out !important;
}

/* 状态栏浮动到右侧 */
@media (min-width: 768px) {
    #status {
        position: fixed;
        right: 87px;
        bottom: 15px;
        border-radius: var(--b3-border-radius);
        height: 27px !important;
        overflow: hidden;
        z-index: 3;
        border: none;
        background-color: var(--b3-theme-surface);
        display: flex;
        align-items: center;
        box-shadow: var(--b3-light-shadow);
        user-select: none;
        cursor: grab;   
    }
    #barDock {
        position: relative;
        order: 1;
    }
    #statusHelp {
        position: relative;
    }
}

/* 行级代码 */
.b3-typography code:not(.hljs),.b3-typography span[data-type~=code],.protyle-wysiwyg code:not(.hljs),.protyle-wysiwyg span[data-type~=code] {
    color: black;
    background-color: var(--b3-theme-on-background);
}

/* 页签栏 */
.layout-tab-bar .item {
    min-height: 20px;
    height: 28px;
    margin: 3px;
    transition: 0.3s;
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus) {
    background-color: var(--b3-theme-filetree);
    border-radius: var(--b3-border-radius);
    transition: 0.3s;
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus):hover {
    background-color: var(--hovercurrent);
}
.item.item--focus {
    background-color: var(--hovercurrent);
    border-radius: var(--b3-border-radius);
}
.item.item--focus:hover {
    background-color: var(--hovercurrent);
}
.layout__wnd--active .layout-tab-bar .item:after, .layout-tab-bar .item--full.item--focus::after, .layout-tab-bar .item--focus::after {
    display:none;
}
.layout-tab-bar {
    border-bottom: 0px solid rgba(0,0,0,0);
}
.layout-tab-bar .item.item--focus .item__close svg {
    background-color: rgba(241, 241, 241, 0);
    color: var(--b3-theme-on-surface);
    opacity: 1 !important;
}
.layout-tab-bar .item.item--focus .item__close svg:hover {
    background-color: var(--b3-theme-error);
    color: rgb(255, 255, 255);
}
.layout-tab-bar .item:hover .item__close svg {
    background-color: rgba(241, 241, 241, 0);
    color: var(--b3-theme-on-surface);
    opacity: 1 !important;
}
.layout-tab-bar .item:hover .item__close svg:hover {
    background-color: var(--b3-theme-error);
    color: rgb(255, 255, 255);
}
.config-bazaar__title {
    padding: 8px;
}
.av__header .layout-tab-bar .item__text {
    padding-left: 1px;
    padding-bottom: 1px;
}
li.item.item--readonly {
    border-top: 2px solid rgba(255, 0, 0, 0) !important;
}

/* 退出聚焦 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    background-color: var(--b3-theme-primary);
    color: white;
}
.protyle-breadcrumb button[data-type="exit-focus"]:hover {
    filter: brightness(0.9);
}

/* 标签 */
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+1) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    color: #ff5f6f;
    background-color: rgba(255, 95, 111, 0.3);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+1)::before {
    content: "#";
    color: #ff5f6f;
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+1):hover {
    background-color: rgba(255, 95, 111, 0.5);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+2) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    color: #38afef;
    background-color: rgba(56, 175, 239, 0.3);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+2)::before {
    content: "#";
    color: #38afef;
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+2):hover {
    background-color: rgba(56, 175, 239, 0.5);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+3) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    color: #fc88db;
    background-color: rgba(252, 136, 219, 0.3);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+3)::before {
    content: "#";
    color: #fc88db;
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+3):hover {
    background-color: rgba(252, 136, 219, 0.5);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+4) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    color: #52cda8;
    background-color: rgba(82, 205, 168, 0.3);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+4)::before {
    content: "#";
    color: #52cda8;
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+4):hover {
    background-color: rgba(82, 205, 168, 0.5);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+5) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    color: #dfb84d;
    background-color: rgba(223, 184, 77, 0.3);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+5)::before {
    content: "#";
    color: #dfb84d;
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+5):hover {
    background-color: rgba(223, 184, 77, 0.5);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+6) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    color: #978adb;
    background-color: rgba(152, 138, 219, 0.3);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+6)::before {
    content: "#";
    color: #978adb;
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+6):hover {
    background-color: rgba(152, 138, 219, 0.5);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+7) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    color: #efa96c;
    background-color: rgba(239, 169, 108, 0.3);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+7)::before {
    content: "#";
    color: #efa96c;
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n+7):hover {
    background-color: rgba(239, 169, 108, 0.5);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    color: #73c6dd;
    background-color: rgba(115, 198, 221, 0.3);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n)::before {
    content: "#";
    color: #73c6dd;
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(8n):hover {
    background-color: rgba(115, 198, 221, 0.5);
}

/* 圆形关闭键 */
.b3-dialog__close:hover {
    color: var(--b3-theme-error);
}
.b3-menu__action.b3-menu__action--close:hover {
    color: var(--b3-theme-error);
}

/* 键盘元素 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd] {
    border: var(--b3-border-radius);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1), 0 4px 6px rgba(255, 255, 255, 0.1), 0 6px 8px rgba(255, 255, 255, 0.1);
    position: relative;
    bottom: 1px;
}

/* 选中项效果（文档树、大纲、菜单） */
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus):not(.dragover):not(.protyle-wysiwyg--select):not(.protyle-wysiwyg--hl):not(.dragover__top):not(.dragover__bottom), .b3-list--background .b3-list-item--focus:not(.dragover):not(.protyle-wysiwyg--select):not(.protyle-wysiwyg--hl):not(.dragover__top):not(.dragover__bottom) {
    background-color: var(--hovercurrent);
}
.b3-list--background .b3-list-item, li.b3-list-item  {
    border-radius: var(--b3-border-radius);
    margin-bottom: 2px;
}
.b3-menu__item--current:not(.b3-menu__item--readonly) {
    background-color: var(--hovercurrent);
}
.b3-menu__item {
    margin: 0px;
}
.fn__flex-1.fn__flex-column.file-tree.sy__file .b3-list-item:hover, .fn__flex-1.fn__flex-column.file-tree.sy__file .b3-list--background .b3-list-item:hover:not(.b3-list-item--focus), .fn__flex-1.fn__flex-column.file-tree.sy__file .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    background-color: var(--hovercurrent);
}

/* 任务列表 */
.protyle .protyle-wysiwyg .li[data-subtype=o]>.protyle-action:hover, .protyle .protyle-wysiwyg .li[data-subtype=u]>.protyle-action:hover, .protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t]>.protyle-action:hover {
    color: var(--b3-theme-primary);
}
.protyle .protyle-wysiwyg .li[data-subtype=o]>.protyle-action:hover::after, .protyle .protyle-wysiwyg .li[data-subtype=u]>.protyle-action:hover::after, .protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t]>.protyle-action:hover::after {
    background-color: var(--b3-theme-primary-lightest);
}
.av__checkbox:hover, .av__firstcol svg:hover {
    color: var(--b3-theme-primary);
}

/* 界面整体优化 */
body:not(.body--mobile,.body--window) #layouts {
    background-color: var(--b3-theme-surface);
    .layout__center .layout-tab-container {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 3px;
        border-radius: var(--b3-border-radius);
    }
}
.layout__dockl,.layout__dockr,.layout__dockb {
    .layout-tab-container { 
        border-radius: var(--b3-border-radius); 
        background-color: var(--b3-theme-filetree);
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 8px;
    }
}
.layout-tab-bar.layout-tab-bar--readonly.fn__flex-1{
    border-top-right-radius: var(--b3-border-radius);
    border-bottom-right-radius: var(--b3-border-radius);
    margin-top: 8px;
    margin-right: 3px;
}
.fn__flex.layout-tab-bar {  
    border-top-left-radius: var(--b3-border-radius);
    border-bottom-left-radius: var(--b3-border-radius);
    margin-top: 8px;
}
#toolbar {
    border: none;
}
.dock#dockLeft {
    border: none;
}
.dock#dockRight {
    border: none;
}
.block__logoicon {
    color: var(--b3-theme-primary);
}
.fn__flex-1 .graph.file-tree .block__icons {
    background-color: var(--b3-theme-background);
    border-top-left-radius: var(--b3-border-radius);
    border-top-right-radius: var(--b3-border-radius);
}
.fn__flex-1 .graph__svg {
    background-color: var(--b3-theme-background);
    border-bottom-left-radius: var(--b3-border-radius);
    border-bottom-right-radius: var(--b3-border-radius);
}
.graph__panel {
    border-radius: var(--b3-border-radius);
    border: none;
    box-shadow: var(--b3-light-shadow);
}
.fn__flex-1.fn__flex-column.file-tree.sy__backlink {
    background-color: var(--b3-theme-background);
}
.layout__resize::after {
    background-color: rgba(255, 0, 0, 0);
}

/* 超链接 */
.protyle-wysiwyg [data-node-id] span[data-type~=a]:hover {
    background-color: rgba(124, 166, 215, 0.2);
    transition: 0.25s;
    padding-bottom: 1.5px;
    border-bottom: 0.5px dashed var(--b3-protyle-inline-link-color);
}
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext):hover {
    background-color: rgba(180, 149, 195, 0.2);
    transition: 0.25s;
    padding-bottom: 1.5px;
    border-bottom: 0.5px dashed var(--b3-protyle-inline-blockref-color);
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]:hover {
    background-color: rgba(122, 175, 122, 0.2);
    transition: 0.25s;
    padding-bottom: 1.5px;
    border-bottom: 0.5px dashed var(--b3-protyle-inline-fileref-color);
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url, .av__celltext.av__celltext--url, .av__celltext--url.b3-chip {
    color: rgba(180, 149, 195);
    padding-bottom: 1.5px;
    border-bottom: 0.5px dashed var(--b3-protyle-inline-blockref-color);
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url:hover, .av__celltext.av__celltext--url:hover, .av__celltext--url.b3-chip:hover {
    background-color: rgb(137, 87, 229, 0.2);
    transition: 0.25s;
}

/* 链接下划线 */
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext) {
    padding-bottom: 1.5px;
    border-bottom: 0.5px dashed var(--b3-protyle-inline-blockref-color);
}.protyle-wysiwyg [data-node-id] span[data-type~=a] {
    padding-bottom: 1.5px;
    border-bottom: 0.5px dashed var(--b3-protyle-inline-link-color);
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref] {
    padding-bottom: 1.5px;
    border-bottom: 0.5px dashed var(--b3-protyle-inline-fileref-color);
}

/* 块属性 */
.protyle-wysiwyg--attr .protyle-attr>div:not(.protyle-attr--memo):not(.protyle-attr--refcount) {
    color: var(--b3-theme-primary);
    border-radius: var(--b3-border-radius);
}
.protyle-wysiwyg--attr .protyle-attr>div:not(.protyle-attr--memo):not(.protyle-attr--refcount):hover {
    background-color: var(--b3-theme-primary-lightest);
}
.protyle-attr>div:not(.protyle-attr--refcount).protyle-attr--memo svg {
    color: var(--b3-theme-error);
}

/* 闪卡标识 */
.protyle-wysiwyg [data-node-id][custom-riff-decks] {
    box-shadow: -5px 0 0 0 rgba(148, 225, 213);
    transition: 0s;
}

/* 嵌入块 */
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    box-shadow: var(--b3-dialog-shadow);
    border: none;
}

/* 行级备注 */
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-color: rgba(255, 0, 0, 0);
    border-bottom: 2px dashed rgb(158, 95, 95);
    padding-bottom: 1.5px;
}

/* 备注界面 */
.tooltip--memo {
    width: 300px;
    min-height: fit-content;
    line-height: 20px;
    text-align: justify;
    color: rgb(111, 100, 15);
    background-color: #fde87e;
    padding: 10px 10px;
    border-top: 6px solid #ffd500;
    border-radius: var(--b3-border-radius);
    margin-top: 5px;
    box-shadow: var(--b3-point-shadow);
}

/* 列表折叠背景色 */
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action::after {
    background-color: rgba(202, 221, 255, 0);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:hover::after {
    background-color: rgb(135, 179, 255);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action {
    color: rgb(34, 77, 188);
}

/* 引述块 */  /*未完成*/
.b3-typography blockquote::before, .b3-typography .bq::before, .protyle-wysiwyg blockquote::before, .protyle-wysiwyg .bq::before {
    background-color: var(--b3-theme-primary);
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 0px;
    width: 8px;
}
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
    background-color: var(--b3-theme-primary-lightest);
    border-radius: 0px;
}

/* 钉住 */
.layout-tab-bar .item--pin .item__graphic, .layout-tab-bar .item--pin .item__icon {
    padding: 4px 0 4px 8px;
}
.layout-tab-bar .item.item--pin .item__text {
    display: flex !important;
}
.layout-tab-bar .item--pin .item__close {
    display: flex !important;
    pointer-events: none;

}
.layout-tab-bar .item--pin .item__close svg {
    color: rgba(255, 0, 0, 0) !important;
}
.layout-tab-bar .item--pin .item__close::after {
    content: '';
    position: absolute;
    top: 51%;
    right: 12px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--b3-theme-on-background);
    border-radius: 50%;
    box-shadow: 0 0 0 1 px gray, 0 0 0 3px lightgray;
}

/* 彩色大纲 */
li.b3-list-item.b3-list-item--hide-action[data-subtype="h1"] span.b3-list-item__text.ariaLabel {
    color: var(--h1);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h2"] span.b3-list-item__text.ariaLabel {
    color: var(--h2);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h3"] span.b3-list-item__text.ariaLabel {
    color: var(--h3);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h4"] span.b3-list-item__text.ariaLabel {
    color: var(--h4);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h5"] span.b3-list-item__text.ariaLabel {
    color: var(--h5);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h6"] span.b3-list-item__text.ariaLabel {
    color: var(--h6);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h1"] .b3-list-item__graphic.popover__block {
    color: var(--h1);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h2"] .b3-list-item__graphic.popover__block {
    color: var(--h2);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h3"] .b3-list-item__graphic.popover__block {
    color: var(--h3);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h4"] .b3-list-item__graphic.popover__block {
    color: var(--h4);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h5"] .b3-list-item__graphic.popover__block {
    color: var(--h5);
}
li.b3-list-item.b3-list-item--hide-action[data-subtype="h6"] .b3-list-item__graphic.popover__block {
    color: var(--h6);
}

/* 标题折叠 */
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading]::before {
    display: none;
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h1 {
    color: rgba(206, 128, 128, 0.6);
    border-top: 2px solid rgba(206, 128, 128, 0.6);
    border-bottom: 2px solid rgba(206, 128, 128, 0.6);
    border-radius: 0px;
    background-color: rgba(206, 128, 128, 0.2);
    margin-top: 10px;
    margin-bottom: 30px;
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h2 {
    color: rgba(198, 161, 106, 0.6);
    border-top: 2px solid rgba(198, 161, 106, 0.6);
    border-bottom: 2px solid rgba(198, 161, 106, 0.6);
    border-radius: 0px;
    background-color: rgba(198, 161, 106, 0.2);
    margin-top: 10px;
    margin-bottom: 30px;
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h3 {
    color: rgba(143, 197, 131, 0.6);
    border-top: 2px solid rgba(143, 197, 131, 0.6);
    border-bottom: 2px solid rgba(143, 197, 131, 0.6);
    border-radius: 0px;
    background-color: rgba(143, 197, 131, 0.2);
    margin-top: 10px;
    margin-bottom: 30px;
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h4 {
    color: rgba(115, 148, 186, 0.6);
    border-top: 2px solid rgba(115, 148, 186, 0.6);
    border-bottom: 2px solid rgba(115, 148, 186, 0.6);
    border-radius: 0px;
    background-color: rgba(115, 148, 186, 0.2);
    margin-top: 10px;
    margin-bottom: 30px;
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h5 {
    color: rgba(148, 102, 161, 0.6);
    border-top: 2px solid rgba(148, 102, 161, 0.6);
    border-bottom: 2px solid rgba(148, 102, 161, 0.6);
    border-radius: 0px;
    background-color: rgba(148, 102, 161, 0.2);
    margin-top: 10px;
    margin-bottom: 30px;
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h6 {
    color: rgba(176, 120, 142, 0.6);
    border-top: 2px solid rgba(176, 120, 142, 0.6);
    border-bottom: 2px solid rgba(176, 120, 142, 0.6);
    border-radius: 0px;
    background-color: rgba(176, 120, 142, 0.2);
    margin-top: 10px;
    margin-bottom: 30px;
}

/* 反链面板 */
.sy__backlink .protyle {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: var(--b3-border-radius);
}

/* 自定义属性font-family */
[custom-font-family="宋体"],
.protyle-wysiwyg [data-node-id][custom-font-family="宋体"] {
    font-family: "SimSun";
}
[custom-font-family="幼圆"],
.protyle-wysiwyg [data-node-id][custom-font-family="幼圆"] {
    font-family: "YouYuan";
}
[custom-font-family="黑体"],
.protyle-wysiwyg [data-node-id][custom-font-family="黑体"] {
    font-family: "SimHei";
}
[custom-font-family="微软雅黑"],
.protyle-wysiwyg [data-node-id][custom-font-family="微软雅黑"] {
    font-family: "Microsoft YaHei";
}
[custom-font-family="新宋体"],
.protyle-wysiwyg [data-node-id][custom-font-family="新宋体"] {
    font-family: "NSimSun";
}
[custom-font-family="楷体"],
.protyle-wysiwyg [data-node-id][custom-font-family="楷体"] {
    font-family: "KaiTi";
}
[custom-font-family="隶书"],
.protyle-wysiwyg [data-node-id][custom-font-family="隶书"] {
    font-family: "LiSu";
}
[custom-font-family="仿宋"],
.protyle-wysiwyg [data-node-id][custom-font-family="仿宋"] {
    font-family: "FangSong";
}
[custom-font-family="华文宋体"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文宋体"] {
    font-family: "STSong";
}
[custom-font-family="华文中宋"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文中宋"] {
    font-family: "STZhongsong";
}
[custom-font-family="华文仿宋"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文仿宋"] {
    font-family: "STFangsong";
}
[custom-font-family="华文彩云"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文彩云"] {
    font-family: "STCaiyun";
}
[custom-font-family="华文新魏"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文新魏"] {
    font-family: "STXinwei";
}
[custom-font-family="华文楷体"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文楷体"] {
    font-family: "STKaiti";
}
[custom-font-family="华文琥珀"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文琥珀"] {
    font-family: "STHupo";
}
[custom-font-family="华文细黑"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文细黑"] {
    font-family: "STXihei";
}
[custom-font-family="华文行楷"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文行楷"] {
    font-family: "STXingkai";
}
[custom-font-family="华文隶书"],
.protyle-wysiwyg [data-node-id][custom-font-family="华文隶书"] {
    font-family: "STLiti";
}
[custom-font-family="方正姚体"],
.protyle-wysiwyg [data-node-id][custom-font-family="方正姚体"] {
    font-family: "FZYaoti";
}
[custom-font-family="方正舒体"],
.protyle-wysiwyg [data-node-id][custom-font-family="方正舒体"] {
    font-family: "FZShuTi";
}
[custom-font-family="思源宋体"],
.protyle-wysiwyg [data-node-id][custom-font-family="思源宋体"] {
    font-family: "Source Han Serif SC";
}
[custom-font-family="思源黑体"],
.protyle-wysiwyg [data-node-id][custom-font-family="思源黑体"] {
    font-family: "Source Han Sans CN";
}
[custom-font-family="苹方"],
.protyle-wysiwyg [data-node-id][custom-font-family="苹方"] {
    font-family: "PingFang SC";
}
[custom-font-family="Times New Roman"],
.protyle-wysiwyg [data-node-id][custom-font-family="Times New Roman"] {
    font-family: "Times New Roman";
}

/* 空块提示blankblock-remind */
.protyle-wysiwyg [data-node-id][custom-blankblock-remind="开启"].p > [contenteditable][spellcheck]:empty::before, .protyle-wysiwyg [data-node-id][data-type="NodeHeading"] > [contenteditable][spellcheck]:empty::before {
    content: "空空如也";
    color: #585858;
}
[custom-blankblock-remind="开启"] .p > [contenteditable][spellcheck]:empty::before {
    content:"空空如也";
    color: #585858;
}

/* 数据库 */
.av__cell--header .av__celltext {
    font-weight: bold;
    font-size: 105%;
}
.av__cell {
    border-right: 0.5px solid var(--b3-theme-surface-lighter);
}
.av__row {
    border-bottom: 0.5px solid var(--b3-theme-surface-lighter);
}
.av__views {
    box-shadow: none;
}
.av__title {
    margin-top: 5px;
    margin-bottom: 18px;
    padding-left: 7px;
}
.av__cell .b3-chip {
    border-radius: var(--b3-border-radius);
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url, .av__celltext.av__celltext--url, .av__celltext--url.b3-chip {
    background-color: rgba(72, 142, 132, 0.2);
    color: #488e84;
    border-bottom: none;
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url:hover, .av__celltext.av__celltext--url:hover, .av__celltext--url.b3-chip:hover {
    background-color: rgba(72, 142, 132, 0.5);
}
.block__icon[data-type="av-add"] {
    margin-top: 8px;
}

/* 自定义块属性border */
.protyle-wysiwyg [custom-border="默认"],
.protyle-wysiwyg [data-node-id][custom-border="默认"] {
    border: none;
}
.protyle-wysiwyg [custom-border="黑色"],
.protyle-wysiwyg [data-node-id][custom-border="黑色"] {
    border: 0.5px solid var(--b3-theme-on-background);
}
.protyle-wysiwyg [custom-border="灰色"],
.protyle-wysiwyg [data-node-id][custom-border="灰色"] {
    border: 0.5px solid rgb(198, 198, 198);
}
.protyle-wysiwyg [custom-border="灰色虚线"],
.protyle-wysiwyg [data-node-id][custom-border="灰色虚线"] {
    border: 0.5px dashed rgb(198, 198, 198);
}
.protyle-wysiwyg [custom-border="黑色虚线"],
.protyle-wysiwyg [data-node-id][custom-border="黑色虚线"] {
    border: 0.5px dashed var(--b3-theme-on-background);
}
.protyle-wysiwyg [custom-border="立体"],
.protyle-wysiwyg [data-node-id][custom-border="立体"] {
    box-shadow: var(--b3-dialog-shadow);
}
.protyle-wysiwyg [custom-border="红色"],
.protyle-wysiwyg [data-node-id][custom-border="红色"] {
    border: 0.5px solid rgb(202, 110, 110);
}
.protyle-wysiwyg [custom-border="红色虚线"],
.protyle-wysiwyg [data-node-id][custom-border="红色虚线"] {
    border: 0.5px dashed rgb(202, 110, 110);
}
/* 自定义块属性img-border */
[custom-img-border="图片立体"] img,
.protyle-wysiwyg [data-node-id][custom-img-border="图片立体"] img {
    box-shadow: var(--b3-dialog-shadow);
}

/* 自定义块属性border-radius */
.protyle-wysiwyg [custom-border-radius="默认"],
.protyle-wysiwyg [data-node-id][custom-border-radius="默认"] {
    border-radius: var(--b3-border-radius);
}
.protyle-wysiwyg [custom-border-radius="矩形"],
.protyle-wysiwyg [data-node-id][custom-border-radius="矩形"] {
    border-radius: 0px;
}
.protyle-wysiwyg [custom-border-radius="圆润"],
.protyle-wysiwyg [data-node-id][custom-border-radius="圆润"] {
    border-radius: 25px;
}
/* 自定义块属性img-border-radius */
[custom-img-border-radius="图片圆角"] img,
.protyle-wysiwyg [data-node-id][custom-border-radius="图片圆角"] img {
    border-radius: var(--b3-border-radius);
}
[custom-img-border-radius="图片圆润"] img,
.protyle-wysiwyg [data-node-id][custom-img-border-radius="图片圆润"] img {
    border-radius: 25px;
}

/* 自定义块属性visibility */
.protyle-wysiwyg [custom-visibility="默认"],
.protyle-wysiwyg [data-node-id][custom-visibility="默认"] {
    filter: blur(0px);
}
.protyle-wysiwyg [custom-visibility="模糊"],
.protyle-wysiwyg [data-node-id][custom-visibility="模糊"] {
    filter: blur(10px);
}
.protyle-wysiwyg [custom-visibility="悬浮显示"],
.protyle-wysiwyg [data-node-id][custom-visibility="悬浮显示"] {
    filter: blur(10px);
}
.protyle-wysiwyg [custom-visibility="悬浮显示"]:hover,
.protyle-wysiwyg [data-node-id][custom-visibility="悬浮显示"]:hover {
    filter: blur(0px);
}
.protyle-wysiwyg [custom-visibility="闪烁"],
.protyle-wysiwyg [data-node-id][custom-visibility="闪烁"] {
    animation: visibilityfade 1.5s infinite;
}
@keyframes visibilityfade{
    0%{ opacity: 1; }
    50%{ opacity: 0.5; }
    100%{ opacity: 1; }
}

/* 自定义块属性h-style */
.protyle-wysiwyg [custom-h-style="多彩"],
.protyle-wysiwyg [data-node-id][custom-h-style="多彩"] {
    background: -webkit-linear-gradient(135deg,#0eaf6d,#ff6ac6 25%,#147b96 50%,#e6d205 55%,#2cc4e0 60%,#8b2ce0 80%,#ff6384 95%,#08dfb4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 100%;
    animation: hcolorful 8s infinite linear;
}
[custom-h-style="多彩"] [data-type="NodeHeading"] {
    background: -webkit-linear-gradient(135deg,#0eaf6d,#ff6ac6 25%,#147b96 50%,#e6d205 55%,#2cc4e0 60%,#8b2ce0 80%,#ff6384 95%,#08dfb4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 100%;
    animation: hcolorful 8s infinite linear;
}
@keyframes hcolorful {
    0% { background-position: 0 0; }
    100% { background-position: -400% 0; }
}
.protyle-wysiwyg [custom-h-style="金箔"],
.protyle-wysiwyg [data-node-id][custom-h-style="金箔"] {
    background-image: url('img/金箔.png');  
    -webkit-background-clip: text;  
    background-clip: text;  
    color: transparent;  
}
[custom-h-style="金箔"] [data-type="NodeHeading"] {
    background-image: url('img/金箔.png');  
    -webkit-background-clip: text;  
    background-clip: text;  
    color: transparent;  
}
.protyle-wysiwyg [custom-h-style="下划线"],
.protyle-wysiwyg [data-node-id][custom-h-style="下划线"] {
    border-radius: 0px;
    border-bottom: 3px solid;
}

/* 自定义块属性background */
.protyle-wysiwyg [custom-background="淡紫粉渐变"],
.protyle-wysiwyg [data-node-id][custom-background="淡紫粉渐变"] {
    background-image: linear-gradient(to right bottom, #a18cd1, #bb98d7, #d2a5de, #e7b3e4, #fbc2eb);
}
.protyle-wysiwyg [custom-background="蓝绿色渐变"],
.protyle-wysiwyg [data-node-id][custom-background="蓝绿色渐变"] {
    background-image: linear-gradient(to right bottom, #84fab0, #5cf4d2, #53ebeb, #6de0f6, #8fd3f4);
}
.protyle-wysiwyg [custom-background="蓝色渐变"],
.protyle-wysiwyg [data-node-id][custom-background="蓝色渐变"] {
    background-image: linear-gradient(to right bottom, #4facfe, #0bbfff, #00d1ff, #00e2ff, #00f2fe);
}
.protyle-wysiwyg [custom-background="红橙色渐变"],
.protyle-wysiwyg [data-node-id][custom-background="红橙色渐变"] {
    background-image: linear-gradient(to right bottom, #fa709a, #ff8080, #ff9c63, #ffbd49, #fee140);
}
.protyle-wysiwyg [custom-background="淡蓝粉渐变"],
.protyle-wysiwyg [data-node-id][custom-background="淡蓝粉渐变"] {
    background-image: linear-gradient(to right bottom, #a8edea, #b1e9ff, #d0e1ff, #eed9f8, #fed6e3);
}
.protyle-wysiwyg [custom-background="灰色渐变"],
.protyle-wysiwyg [data-node-id][custom-background="灰色渐变"] {
    background-image: linear-gradient(to left top, #f5f7fa, #e8edf4, #dce3ee, #cfd9e8, #c3cfe2);
}
.protyle-wysiwyg [custom-background="黑色渐变"],
.protyle-wysiwyg [data-node-id][custom-background="黑色渐变"] {
    background-image: linear-gradient(to left top, #434343, #333333, #242424, #161616, #000000);
}
.protyle-wysiwyg [custom-background="绿色渐变"],
.protyle-wysiwyg [data-node-id][custom-background="绿色渐变"] {
    background-image: linear-gradient(to right bottom, #00c9a7, #00d2a2, #00db9a, #00e390, #12eb83);
}
.protyle-wysiwyg [custom-background="红色渐变"],
.protyle-wysiwyg [data-node-id][custom-background="红色渐变"] {
    background-image: linear-gradient(to right bottom, #fa1f32, #fd214c, #fd2b64, #fa397a, #f4478e);
}

/* 自定义块属性style */
.protyle-wysiwyg [custom-style="红色便签"],
.protyle-wysiwyg [data-node-id][custom-background="红色便签"] {
    background-color: #eb9090;
    border-top: 8px solid #d34040;
    color: #5c1f1f;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="红左边框"],
.protyle-wysiwyg [data-node-id][custom-background="红左边框"] {
    background-color: #eb9090;
    border-left: 8px solid #d34040;
    color: #5c1f1f;
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="橙色便签"],
.protyle-wysiwyg [data-node-id][custom-background="橙色便签"] {
    background-color: #fea977;
    border-top: 8px solid #ec732d;
    color: #673417;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="橙左边框"],
.protyle-wysiwyg [data-node-id][custom-background="橙左边框"] {
    background-color: #fea977;
    border-left: 8px solid #ec732d;
    color: #673417;
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="黄色便签"],
.protyle-wysiwyg [data-node-id][custom-background="黄色便签"] {
    background-color: #fde87e;
    border-top: 8px solid #ffd500;
    color: rgb(111, 100, 15);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="黄左边框"],
.protyle-wysiwyg [data-node-id][custom-background="黄左边框"] {
    background-color: #fde87e;
    border-left: 8px solid #ffd500;
    color: rgb(111, 100, 15);
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="绿色便签"],
.protyle-wysiwyg [data-node-id][custom-background="绿色便签"] {
    background-color: #8dd5ab;
    border-top: 8px solid rgb(61, 169, 95);
    color: #1e5b1e;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="绿左边框"],
.protyle-wysiwyg [data-node-id][custom-background="绿左边框"] {
    background-color: #8dd5ab;
    border-left: 8px solid rgb(61, 169, 95);
    color: #1e5b1e;
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="青色便签"],
.protyle-wysiwyg [data-node-id][custom-background="青色便签"] {
    background-color: #88e9df;
    border-top: 8px solid #1ac1b0;
    color: #185a53;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="青左边框"],
.protyle-wysiwyg [data-node-id][custom-background="青左边框"] {
    background-color: #88e9df;
    border-left: 8px solid #1ac1b0;
    color: #185a53;
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="蓝色便签"],
.protyle-wysiwyg [data-node-id][custom-background="蓝色便签"] {
    background-color: #779ae0;
    color: #1d335f;
    border-top: 8px solid var(--b3-theme-primary);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="蓝左边框"],
.protyle-wysiwyg [data-node-id][custom-background="蓝左边框"] {
    background-color: #779ae0;
    border-left: 8px solid var(--b3-theme-primary);
    color: #1d335f;
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="紫色便签"],
.protyle-wysiwyg [data-node-id][custom-background="紫色便签"] {
    background-color: #e0b1fd;
    border-top: 8px solid #a949e8;
    color: #431264;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="紫左边框"],
.protyle-wysiwyg [data-node-id][custom-background="紫左边框"] {
    background-color: #e0b1fd;
    border-left: 8px solid #a949e8;
    color: #431264;
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="紫红便签"],
.protyle-wysiwyg [data-node-id][custom-background="紫红便签"] {
    background-color: #fa9ad8;
    border-top: 8px solid #e84abe;
    color: #61104b;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="紫红左边框"],
.protyle-wysiwyg [data-node-id][custom-background="紫红左边框"] {
    background-color: #fa9ad8;
    border-left: 8px solid #e84abe;
    color: #61104b;
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="粉色便签"],
.protyle-wysiwyg [data-node-id][custom-background="粉色便签"] {
    background-color: #ffc9d9;
    border-top: 8px solid #fd87b8;
    color: #7a1e44;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="粉左边框"],
.protyle-wysiwyg [data-node-id][custom-background="粉左边框"] {
    background-color: #ffc9d9;
    border-left: 8px solid #fd87b8;
    color: #7a1e44;
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="黑色便签"],
.protyle-wysiwyg [data-node-id][custom-background="黑色便签"] {
    background-color: rgba(57, 57, 57, 0.2);
    border-top: 8px solid rgb(57, 57, 57);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="黑左边框"],
.protyle-wysiwyg [data-node-id][custom-background="黑左边框"] {
    background-color: rgba(57, 57, 57, 0.2);
    border-left: 8px solid rgb(57, 57, 57);
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="灰色便签"],
.protyle-wysiwyg [data-node-id][custom-background="灰色便签"] {
    background-color: rgba(184, 184, 184, 0.2);
    border-top: 8px solid rgb(184, 184, 184);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="灰左边框"],
.protyle-wysiwyg [data-node-id][custom-background="灰左边框"] {
    background-color: rgba(184, 184, 184, 0.2);
    border-left: 8px solid rgb(184, 184, 184);
    border-radius: 0px;
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="警告"],
.protyle-wysiwyg [data-node-id][custom-background="警告"] {
    background-color: rgba(210, 62, 49, 0.2);
    border: 3px solid var(--b3-theme-error);
    border-top: 30px solid var(--b3-theme-error);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="警告"]::before,
.protyle-wysiwyg [data-node-id][custom-background="警告"]::before {
    content: "Warning";
    position: absolute;
    top: -27px;
    left: 10px;
    color: rgb(255, 210, 205);
    font-size: 16px;
    font-weight: bold;
}
.protyle-wysiwyg [custom-style="重要"],
.protyle-wysiwyg [data-node-id][custom-background="重要"] {
    background-color: rgba(139, 76, 158, 0.2);
    border: 3px solid rgb(139, 76, 158);
    border-top: 30px solid rgb(139, 76, 158);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="重要"]::before,
.protyle-wysiwyg [data-node-id][custom-background="重要"]::before {
    content: "Important";
    position: absolute;
    top: -27px;
    left: 10px;
    color: rgb(246, 215, 255);
    font-size: 16px;
    font-weight: bold;
}
.protyle-wysiwyg [custom-style="待办"],
.protyle-wysiwyg [data-node-id][custom-background="待办"] {
    background-color: rgba(61, 90, 169, 0.2);
    border: 3px solid rgb(61, 90, 169);
    border-top: 30px solid rgb(61, 90, 169);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="待办"]::before,
.protyle-wysiwyg [data-node-id][custom-background="待办"]::before {
    content: "Todo";
    position: absolute;
    top: -27px;
    left: 10px;
    color: rgb(232, 238, 255);
    font-size: 16px;
    font-weight: bold;
}
.protyle-wysiwyg [custom-style="完成"],
.protyle-wysiwyg [data-node-id][custom-background="完成"] {
    background-color: rgba(61, 169, 95, 0.2);
    border: 3px solid rgb(61, 169, 95);
    border-top: 30px solid rgb(61, 169, 95);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="完成"]::before,
.protyle-wysiwyg [data-node-id][custom-background="完成"]::before {
    content: "Done";
    position: absolute;
    top: -27px;
    left: 10px;
    color: rgb(230, 255, 239);
    font-size: 16px;
    font-weight: bold;
}
.protyle-wysiwyg [custom-style="引用"],
.protyle-wysiwyg [data-node-id][custom-background="引用"] {
    background-color: rgba(184, 184, 184, 0.2);
    border: 3px solid rgb(184, 184, 184);
    border-top: 30px solid rgb(184, 184, 184);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="引用"]::before,
.protyle-wysiwyg [data-node-id][custom-background="引用"]::before {
    content: "Quote";
    position: absolute;
    top: -27px;
    left: 10px;
    color: rgb(247, 247, 247);
    font-size: 16px;
    font-weight: bold;
}
.protyle-wysiwyg [custom-style="信息"],
.protyle-wysiwyg [data-node-id][custom-background="信息"] {
    background-color: rgba(98, 190, 220, 0.2);
    border: 3px solid rgb(98, 190, 220);
    border-top: 30px solid rgb(98, 190, 220);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="信息"]::before,
.protyle-wysiwyg [data-node-id][custom-background="信息"]::before {
    content: "Information";
    position: absolute;
    top: -27px;
    left: 10px;
    color: rgb(240, 251, 255);
    font-size: 16px;
    font-weight: bold;
}
.protyle-wysiwyg [custom-style="灵感"],
.protyle-wysiwyg [data-node-id][custom-background="灵感"] {
    background-color: rgba(237, 143, 67, 0.2);
    border: 3px solid rgb(237, 143, 67);
    border-top: 30px solid rgb(237, 143, 67);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="灵感"]::before,
.protyle-wysiwyg [data-node-id][custom-background="灵感"]::before {
    content: "Tip";
    position: absolute;
    top: -27px;
    left: 10px;
    color: rgb(255, 240, 228);
    font-size: 16px;
    font-weight: bold;
}
.protyle-wysiwyg [custom-style="批注"],
.protyle-wysiwyg [data-node-id][custom-background="批注"] {
    background-color: rgba(57, 57, 57, 0.2);
    border: 3px solid rgb(57, 57, 57);
    border-top: 30px solid rgb(57, 57, 57);
    padding: 5px 8px !important;
}
.protyle-wysiwyg [custom-style="批注"]::before,
.protyle-wysiwyg [data-node-id][custom-background="批注"]::before {
    content: "Comment";
    position: absolute;
    top: -27px;
    left: 10px;
    color: rgb(238, 238, 238);
    font-size: 16px;
    font-weight: bold;
}

/* 自定义块属性height */
.protyle-wysiwyg [custom-height="50"],
.protyle-wysiwyg [data-node-id][custom-height="50"] {
    max-height: 50px;
    overflow-y: auto;
}
.protyle-wysiwyg [custom-height="100"],
.protyle-wysiwyg [data-node-id][custom-height="100"] {
    max-height: 100px;
    overflow-y: auto;
}
.protyle-wysiwyg [custom-height="150"],
.protyle-wysiwyg [data-node-id][custom-height="150"] {
    max-height: 150px;
    overflow-y: auto;
}
.protyle-wysiwyg [custom-height="200"],
.protyle-wysiwyg [data-node-id][custom-height="200"] {
    max-height: 200px;
    overflow-y: auto;
}

/* 编辑器工具栏 */
.protyle-toolbar {
    border-radius: var(--b3-border-radius);
}
.protyle-toolbar__item {
    margin: 2px;
    border-radius: var(--b3-border-radius) !important;
}
/* 集市阴影效果 */
.config-bazaar__panel .b3-card {
    box-shadow: var(--b3-light-shadow);
}

/* 标记 */
span[data-type~=mark],mark {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), var(--b3-protyle-inline-mark-background)) !important;
}