:root {
    /* 字体 */
    --b3-font-family: "QYL fonts times", "QYL fonts", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", "sans-serif","Twitter Emoji","Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !important;

    /* 标题颜色 */
    --h1-: #881400 ;
    --h2-: #dc9f46 ;
    --h3-: #3a5779 ;
    --h4-: #4a6d42 ;
    --h5-: #815989 ;
    --h6-: #ba4688 ;
}

/* 设置全局字体 */
@font-face {
    font-family: "QYL fonts";
    font-style: normal;
    src: url("fonts/SourceHanSerifCN-SemiBold.otf");
}
@font-face {
    font-family: "QYL fonts";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/SourceHanSerifCN-Heavy.otf");
}
@font-face {
    font-family: "QYL fonts times";
    font-style: normal;
    src: url("fonts/times.ttf");
}
@font-face {
    font-family: "QYL fonts times";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/timesbd.ttf");
}

/* 斜杠菜单展开 */
@media screen and (min-width: 1292px) {
    .protyle-hint.hint--menu {
        width: 75vw !important;
        max-width: 84em;
        max-height: 65vh;
    }
    .protyle-hint.hint--menu>div {
        -moz-column-width: 12em;
        column-width: 12em!important;
        -moz-column-gap: 4px;
        column-gap: 4px;
        -moz-column-rule: 1px solid var(--b3-border-color);
        column-rule: 1px solid var(--b3-border-color);
        columns: 12em!important;
    }
   .protyle-hint.hint--menu>div .b3-list-item .b3-list-item__text {
        width: -moz-max-content;
        width: max-content;
        margin-right: 4px
    }
    .protyle-hint.hint--menu>div .b3-menu__separator:not(:nth-of-type(2n + 4)) {
        -moz-column-break-before: column;
        break-before: column;
        margin-bottom: -5px;
        background-color: rgba(0,0,0,0);
    }
    .protyle-hint.hint--menu>.emojis {
        min-width: 50vw
    }
}

/* 主菜单按钮 */
#barWorkspace {
    width: 65px;
    height: 25px;
    border-radius: 10px;
    background-color: #3375f0;
    align-items: center;
    justify-content: center;
}
#barWorkspace span.toolbar__text {
    font-family: "QYL fonts";
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-transform: none;
}
#barWorkspace svg.toolbar__svg {
    color: white;
    opacity: 1;
    margin-top: 2.5px;
    display: none;
}
#barWorkspace:hover { filter: brightness(0.8); }
#barWorkspace:active { filter: brightness(0.7); }

/* 分割线 */
.hr {
    border: none;
    position: relative;
    height: 2px;
    overflow: hidden;
}
.hr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(51, 117, 240, 0.5), hsla(219, 86%, 57%, 0.6), rgba(51, 117, 240, 0.5));
}

/* 块标平滑切换 */
.protyle-gutters { transition: all 0.2s ease-out; }

/* 彩色多级标题 */
.b3-typography .h1,.b3-typography h1,.protyle-wysiwyg .h1,.protyle-wysiwyg h1 { color: var(--h1-); }
.b3-typography .h2,.b3-typography h2,.protyle-wysiwyg .h2,.protyle-wysiwyg h2 { color: var(--h2-); }
.b3-typography .h3,.b3-typography h3,.protyle-wysiwyg .h3,.protyle-wysiwyg h3 { color: var(--h3-); }
.b3-typography .h4,.b3-typography h4,.protyle-wysiwyg .h4,.protyle-wysiwyg h4 { color: var(--h4-); }
.b3-typography .h5,.b3-typography h5,.protyle-wysiwyg .h5,.protyle-wysiwyg h5 { color: var(--h5-); }
.b3-typography .h6,.b3-typography h6,.protyle-wysiwyg .h6,.protyle-wysiwyg h6 { color: var(--h6-); }
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h1::before { background-color: rgba(136, 20, 0, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h2::before { background-color: rgba(220, 160, 70, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h3::before { background-color: rgba(58, 87, 121, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h4::before { background-color: rgba(74, 109, 66, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h5::before { background-color: rgba(129, 89, 137, 0.25);}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h6::before { background-color: rgba(186, 70, 136, 0.25);}

/* 表格优化 */
th, tr:nth-child(odd) td, tr:nth-child(even) td { border: 2px solid #515A5B !important; }
th { background-color: rgba(0, 0, 0, 0.2) ; }
tr:nth-child(odd) td { background-color: rgba(0, 0, 0, 0) ; }
tr:nth-child(even) td { background-color: rgba(0, 0, 0, 0.05) !important; }

/* 块提示 */
.sb:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15), -2px -2px 6px rgba(0, 0, 0, 0.15), 0 0 12px rgba(0, 0, 0, 0.1) !important;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out !important;
}
.p:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15), -2px -2px 6px rgba(0, 0, 0, 0.15), 0 0 12px rgba(0, 0, 0, 0.1) !important;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out !important;
}
.p.highlight {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), -2px -2px 6px rgba(0, 0, 0, 0.5), 0 0 12px rgba(0, 0, 0, 0.2) !important;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out !important;
}
.p.highlight:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5), -2px -2px 6px rgba(0, 0, 0, 0.5), 0 0 12px rgba(0, 0, 0, 0.2) !important;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out !important;
}

/* 状态栏浮动到右侧 */
#status {
    position: fixed;
    right: 45px !important;
    bottom: 3px;
    border-radius: 8px;
    height: 27px !important;
    padding: 0px 5px 0px !important;
    overflow: hidden;
    z-index: 3;
    border: none;
    background-color: rgba(233, 233, 233, 0.8);
    display: flex;
    align-items: center;
    transition: 0.5s;
}
#status:hover {
    position: fixed;
    right: 45px !important;
    bottom: 3px;
    border-radius: 8px;
    height: 27px !important;
    padding: 0px 5px 0px !important;
    overflow: hidden;
    z-index: 3;
    border: none;
    background-color: rgba(211, 211, 211, 0.8);
    display: flex;
    align-items: center;
    transition: 0.5s;
}
#barDock {
    position: relative;
    order: 1;
}
#statusHelp {
    position: relative;
}

/* 行级代码 */
.b3-typography code:not(.hljs),.b3-typography span[data-type~=code],.protyle-wysiwyg code:not(.hljs),.protyle-wysiwyg span[data-type~=code] {
    color: red;
}

/* 页签栏 */
.layout-tab-bar .item {
    min-height: 25px;
    height: 30px;
    margin: 5px;
    transition: 0.2s;
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus) {
    background-color: #efefef;
    border-radius: 16px;
    transition: 0.5s;
    border: 3px solid #3576f000 !important;
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus):hover {
    background-color: #efefef;
    border-radius: 16px;
    border: 3px solid #6a6a6a !important;
}
.item.item--focus {
    background-color: #efefef;
    border-radius: 16px;
    border: 3px solid #3575f0 !important;
}
.layout__wnd--active .layout-tab-bar .item:after, .layout-tab-bar .item--full.item--focus::after, .layout-tab-bar .item--focus::after {
    display:none;
}
.layout-tab-bar {
    border-bottom: 0px solid rgba(0,0,0,0);
}
.layout-tab-bar .item__text {
    padding-top: 2px;
}
.layout-tab-bar .item.item--focus .item__close svg {
    background-color: rgba(241, 241, 241, 0);
    color: black;
    opacity: 1 !important;
}
.layout-tab-bar .item.item--focus .item__close svg:hover {
    background-color: rgb(255, 53, 53);
    color: rgb(255, 255, 255);
    opacity: 1 !important;
}
.layout-tab-bar .item:hover .item__close svg {
    background-color: rgba(241, 241, 241, 0);
    color: black;
    opacity: 1 !important;
}
.layout-tab-bar .item:hover .item__close svg:hover {
    background-color: rgb(255, 53, 53);
    color: rgb(255, 255, 255);
    opacity: 1 !important;
}
.config-bazaar__title {
    padding: 8px;
}
.av__header .layout-tab-bar .item__text {
    padding-left: 1px;
    padding-bottom: 3px;
}

/* 退出聚焦 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    background-color: #3575f0;
    color: white;
}
.protyle-breadcrumb button[data-type="exit-focus"]:hover {
    background-color: #224fa3;
    color: white;
    transition: 0.5s;
}

/* 标签 */
.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
    border-radius: 12px;
    border: 2px solid #3575f0;
    padding: 5px;
    color: #3575f0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: smaller;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]::before {
    content: "#";
    color: #3575f0;
    margin-right: 5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:hover {
    background-color: #3576f040;
}