/* 文档层级导航插件 */
[id^="og_plugintemplate"] .b3-text-field:not(.b3-text-field--text), [id^="og_plugintemplate"] .b3-text-field:not(.b3-text-field--text):focus, [id^="og_plugintemplate"] .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus {
    box-shadow: none;
}
[id^="og_plugintemplate"] h4 {
    color: var(--b3-theme-primary);
}
.og-hierachy-navigate-doc-container span.docLinksWrapper {
    background-color: var(--QYL-hover-light) !important;
    border-radius: var(--b3-border-radius) !important;
    transition: var(--b3-transition);
}
.og-hierachy-navigate-doc-container span.docLinksWrapper:hover {
    background-color: var(--b3-theme-primary) !important;
    color: var(--QYL-white) !important;
}
[data-theme-mode="dark"] .og-hierachy-navigate-doc-container span.docLinksWrapper {
    background-color: var(--QYL-hover-light) !important;
    border-radius: var(--b3-border-radius) !important;
    transition: var(--b3-transition);
}
[data-theme-mode="dark"] .og-hierachy-navigate-doc-container span.docLinksWrapper:hover {
    background-color: var(--QYL-hover) !important;
    color: var(--QYL-white) !important;
}
.og-hn-heading-docs-container .og-fake-breadcrumb-arrow-span .og-hierachy-navigate-breadcrumb-arrow {
    color: var(--QYL-filetree-arrow) !important;
}
.og-hn-doc-none-word {
    background-color: rgba(255, 0, 0, 0.203) !important;
    border-radius: var(--b3-border-radius) !important;
}
.og-hierachy-navigate-doc-container span.docLinksWrapper.og-hn-docLinksWrapper-hl {
    border: none !important;
    background-color: var(--b3-theme-primary) !important;
    color: var(--QYL-white) !important;
}
[data-theme-mode="dark"] .og-hierachy-navigate-doc-container span.docLinksWrapper.og-hn-docLinksWrapper-hl {
    border: none !important;
    background-color: var(--QYL-hover) !important;
    color: var(--QYL-white) !important;
}
.og-hn-create-at-content, .og-hn-modify-at-content, .og-hn-child-word-count-content, .og-hn-child-doc-count-content {
    color: var(--b3-theme-primary) !important;
}
.og-hn-container-multiline .og-hierachy-navigate-doc-indicator {
    color: var(--b3-theme-primary) !important;
    font-weight: 600 !important;
}