/* 按钮 */
.card__icon {
    display: none;
}
.card__action .b3-button {
    line-height: 30px;
}
.card__action {
    & > div:first-child > .b3-button.b3-button--cancel:first-child {
        border: none;
    }
}
div[data-key="dialog-opencard"] .card__action .b3-button.b3-button--cancel[data-type="-2"] {
    border-color: var(--b3-theme-surface-lighter);
    color: var(--b3-theme-primary);
    &:hover, &:focus {
        border-color: var(--b3-theme-on-surface);
        background-color: var(--b3-theme-on-surface);
        color: var(--b3-theme-on-primary);
    }
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="-3"] {
    border-color: var(--b3-theme-surface-lighter);
    color: var(--b3-theme-primary);
    &:hover, &:focus {
        border-color: var(--b3-theme-on-surface);
        background-color: var(--b3-theme-on-surface);
        color: var(--b3-theme-on-primary);
    }
}
[data-theme-mode="dark"] div[data-key="dialog-opencard"] .card__action .b3-button.b3-button--cancel[data-type="-2"] {
    border-color: var(--b3-theme-surface-lighter);
    color: var(--b3-theme-primary);
    &:hover, &:focus {
        border-color: var(--b3-theme-on-surface);
        background-color: var(--b3-theme-on-surface);
        color: var(--b3-theme-surface);
    }
}
[data-theme-mode="dark"] div[data-key="dialog-opencard"] .card__action .b3-button[data-type="-3"] {
    border-color: var(--b3-theme-surface-lighter);
    color: var(--b3-theme-primary);
    &:hover, &:focus {
        border-color: var(--b3-theme-on-surface);
        background-color: var(--b3-theme-on-surface);
        color: var(--b3-theme-surface);
    }
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="-1"] {
    &:hover, :focus {
        filter: brightness(0.85);
    }
}
[data-theme-mode="dark"] div[data-key="dialog-opencard"] .card__action .b3-button[data-type="-1"] {
    &:hover, :focus {
        filter: brightness(0.75);
    }
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="1"] {
    border-color: #d10e0e;
    background-color: #d10e0e;
    color: var(--b3-theme-on-primary) !important;
    &:hover, :focus {
        border-color: #a80f0f;
        background-color: #a80f0f;
    }
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="2"] {
    border-color: #ea601b;
    background-color: #ea601b;
    color: var(--b3-theme-on-primary) !important;
    &:hover, :focus {
        border-color: #b9500e;
        background-color: #b9500e;
    }
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="3"] {
    border-color: #188ec5;
    background-color: #188ec5;
    color: var(--b3-theme-on-primary) !important;
    &:hover, :focus {
        border-color: #126e92;
        background-color: #126e92;
    }
}
div[data-key="dialog-opencard"] .card__action .b3-button[data-type="4"] {
    border-color: #5ab203;
    background-color: #5ab203;
    color: var(--b3-theme-on-primary) !important;
    &:hover, :focus {
        border-color: #499506;
        background-color: #499506;
    }
}
[data-theme-mode="dark"] div[data-key="dialog-opencard"] .card__action .b3-button[data-type="1"] {
    border-color: #d52f2f9e;
    background-color: #d52f2f9e;
    color: var(--b3-theme-on-primary) !important;
    &:hover, :focus {
        border-color: #9419199e;
        background-color: #9419199e;
    }
}
[data-theme-mode="dark"] div[data-key="dialog-opencard"] .card__action .b3-button[data-type="2"] {
    border-color: #c94b0cbd;
    background-color: #c94b0cbd;
    color: var(--b3-theme-on-primary) !important;
    &:hover, :focus {
        border-color: #86330abd;
        background-color: #86330abd;
    }
}
[data-theme-mode="dark"] div[data-key="dialog-opencard"] .card__action .b3-button[data-type="3"] {
    border-color: #0f89b1c4;
    background-color: #0f89b1c4;
    color: var(--b3-theme-on-primary) !important;
    &:hover, :focus {
        border-color: #0e6987c4;
        background-color: #0e6987c4;
    }
}
[data-theme-mode="dark"] div[data-key="dialog-opencard"] .card__action .b3-button[data-type="4"] {
    border-color: #4db715b5;
    background-color: #4db715b5;
    color: var(--b3-theme-on-primary) !important;
    &:hover, :focus {
        border-color: #3e8c13b5;
        background-color: #3e8c13b5;
    }
}
.card__action > div:nth-child(2) > span:first-child {
    color: #e21f1f;
}
.card__action > div:nth-child(3) > span:first-child {
    color: #e69c2d;
}
.card__action > div:nth-child(4) > span:first-child {
    color: #188ec5;
}
.card__action > div:nth-child(5) > span:first-child {
    color: #5ab203;
}
[data-theme-mode="dark"] .card__action > div:nth-child(2) > span:first-child {
    color: #e14f4f;
}
[data-theme-mode="dark"] .card__action > div:nth-child(3) > span:first-child {
    color: #dfa44d;
}
[data-theme-mode="dark"] .card__action > div:nth-child(4) > span:first-child {
    color: #49aad7;
}
[data-theme-mode="dark"] .card__action > div:nth-child(5) > span:first-child {
    color: #8ec459;
}
/* 界面 */
#cardPreview {
    margin: 6px 6px 6px 0;
    border-radius: var(--b3-border-radius);
}
[data-key="dialog-opencard"] .card__block {
    margin: 6px 6px -1px 6px;
    border-radius: var(--b3-border-radius);
}
.QYLmobile [data-key="dialog-opencard"] .card__block {
    margin: 0;
    border-radius: 0;
}
.card__action {
    padding: 6px;
}
.layout__center div[data-key="dialog-opencard"] .card__main {
    background-color: var(--b3-theme-background) !important;
    border-radius: 0 0 var(--b3-border-radius) var(--b3-border-radius);
}
.layout__center [data-key="dialog-opencard"] .card__block {
    margin: 0 ;
    border-radius: 0 0 var(--b3-border-radius) var(--b3-border-radius);
}
.protyle-wysiwyg [data-node-id][custom-riff-decks] {
    box-shadow: 3px 0 0 0 var(--b3-protyle-inline-mark-background) inset !important;
}
.protyle-wysiwyg [data-node-id][custom-style-flashcard="闪卡"][custom-riff-decks] {
    &::after {
        box-shadow: 3px 0 0 0 var(--b3-protyle-inline-mark-background) inset !important;
    }
}