/* layout */
body {
    background-image: unset;
    background-color: var(--b3-theme-surface);
    --b3-layout-space: 6px;
}
.layout__empty .b3-list-item:hover {
    color: var(--b3-theme-primary);
    & .b3-list-item__meta {
        color: var(--b3-theme-primary);
    }
}
#layouts {
    padding-bottom: 6px;
    min-height: 0.1px;
}
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] {
    & > .layout-tab-container {
        background-color: var(--b3-theme-background);
        & :is(.block__logo, .block__logoicon, .block__icon) {
            color: var(--b3-theme-on-surface-light);
            font-size: 14px;
            width: 14px;
            height: 14px;
        }
        & .block__icons {
            border-bottom: none;
        }
        & .graph {
            background-color: var(--b3-theme-background);
        }
    }
}
.protyle-preview__action {
    background-color: var(--b3-theme-background);
}
