/* 题头图渐变 */
.protyle-background__img {
    & img {
        height: 35vh;
        filter: saturate(1.5);
    }
    &::after {/* ref Asri */
        content: '';
        position: absolute;
        top: 3.5vh;
        left: 0;
        width: 100%;
        height: 32vh;
        background: linear-gradient(to top, var(--b3-theme-background) 2%, rgba(from var(--b3-theme-background) r g b/0.97) 9%, rgba(from var(--b3-theme-background) r g b/0.9) 18%, rgba(from var(--b3-theme-background) r g b/0.75) 33%, rgba(from var(--b3-theme-background) r g b/0.05) 92%, transparent 99%);
        pointer-events: none;
    }
}
.protyle-background__icon {
    transform: scale(1.3) translateY(-20px);
    &[style*="margin-top"] {
        margin-top: 38px !important;
    }
}
.QYLmobile .protyle-background__icon {
    transform: scale(1.2);
    &[style*="margin-top"] {
        margin-top: 38px !important;
    }
}
.QYLmobile .protyle-background__img::after {
    display: none;
}
/* 视差 */
@keyframes QYLimgscroller {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(45vh);
      opacity: 0;
    }
}
@keyframes QYLiascroller {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(calc(100%)));
    opacity: 0;
  }
}
.layout__center :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .fn__flex:first-child {
  & + .layout-tab-container {
      & > .fn__flex-1.protyle .protyle-breadcrumb {
          & + .protyle-content {
            scroll-timeline-name: --QYL-protyle-scroller;
              & .protyle-background__img {
                animation: QYLimgscroller linear;
                animation-timeline: --QYL-protyle-scroller;
                animation-range: 0 50vh;
                animation-duration: auto;
            }
            & .protyle-background__ia {
                animation: QYLiascroller linear;
                animation-timeline: --QYL-protyle-scroller;
                animation-range: 0 50vh;
                animation-duration: auto;
            }
          }
      }
  }
}