:is(.QYLmemoB, .QYLmemoR, .QYLmemoL) .tooltip.tooltip--memo {
    display: none;
}
:is(.QYLmemoB, .QYLmemoR, .QYLmemoL) .b3-typography span[data-type~=inline-memo],
:is(.QYLmemoB, .QYLmemoR, .QYLmemoL) .protyle-wysiwyg span[data-type~=inline-memo] {
    transition: 0.2s;
    &.QYLinlinememoActive {
        background-color: var(--b3-theme-primary) !important;
        color: var(--b3-theme-on-primary) !important;
    }
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        color: var(--b3-theme-on-primary) !important;
    }
}
/* 底部 */
.QYLmemoB .QYL-inline-memo-box {
    display: grid;
    padding: 10px;
    margin-top: 10px;
    border-top: 3px solid var(--b3-theme-surface-lighter);
    flex-basis: 100% !important;
    width: 100% !important;
    &.QYLmemoFullwidth {
        grid-template-columns: 1fr;
    }
    &.QYLmemoGrid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    & .QYL-inline-memo {
        cursor: pointer;
        user-select: none;
        white-space: break-spaces;
        word-break: break-all;
        overflow-wrap: break-word;
        font-size: 13px;
        color: var(--b3-theme-on-surface);
        transition: 0.2s;
        padding: 3px;
        border-radius: 6px;
        &.QYLmemoActive {
            background-color: var(--QYL-tab-item-focus);
        }
        &:hover {
            background-color: var(--QYL-tab-item-focus);
        }
        & > div:first-child {
            color: var(--b3-theme-on-background);
            font-weight: bold;
            &:before {
                content: '1';
                display: inline-block;
                width: 1em;
                height: 1em;
                line-height: 1em;
                text-align: center;
                margin-right: 0.3em;
                color: var(--b3-theme-on-primary);
                background-color: var(--b3-theme-primary);
                border-radius: 50%;
                vertical-align: 1px;
            };
        }
        & + .QYL-inline-memo {
            & > div:first-child:before {
                content: '2';
            }
            & + .QYL-inline-memo {
                & > div:first-child:before {
                    content: '3';
                }
                & + .QYL-inline-memo {
                    & > div:first-child:before {
                        content: '4';
                    }
                    & + .QYL-inline-memo {
                        & > div:first-child:before {
                            content: '5';
                        }
                        & + .QYL-inline-memo {
                            & > div:first-child:before {
                                content: '6';
                            }
                            & + .QYL-inline-memo {
                                & > div:first-child:before {
                                    content: '7';
                                }
                                & + .QYL-inline-memo {
                                    & > div:first-child:before {
                                        content: '8';
                                    }
                                    & + .QYL-inline-memo {
                                        & > div:first-child:before {
                                            content: '9';
                                        }
                                        & + .QYL-inline-memo {
                                            & > div:first-child:before {
                                                content: '10';
                                            }
                                            & + .QYL-inline-memo {
                                                & > div:first-child:before {
                                                    content: '11';
                                                }
                                                & + .QYL-inline-memo {
                                                    & > div:first-child:before {
                                                        content: '12';
                                                    }
                                                    & + .QYL-inline-memo {
                                                        & > div:first-child:before {
                                                            content: '13';
                                                        }
                                                        & + .QYL-inline-memo {
                                                            & > div:first-child:before {
                                                                content: '14';
                                                            }
                                                            & + .QYL-inline-memo {
                                                                & > div:first-child:before {
                                                                    content: '15';
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* 右侧 */
.QYLmemoR .protyle-wysiwyg:not(.QYLmemoNone) {
    width: calc(100% - 250px) !important;
}
.QYLEditorFullWidth.QYLmemoR .QYL-inline-memo-box {
    right: -95px;
}
.QYLmemoR .QYL-inline-memo-box {
    position: absolute;
    right: -50px;
    top: 55px;
    width: 250px;
    margin-left: 10px;
    display: block;
    & .QYL-inline-memo {
        cursor: pointer;
        user-select: none;
        white-space: break-spaces;
        word-break: break-all;
        overflow-wrap: break-word;
        font-size: 13px;
        color: var(--b3-theme-on-surface);
        transition: 0.2s;
        padding: 3px;
        border-radius: 6px;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        &:before {
            content: '';
            height: 100%;
            width: 3px;
            position: absolute;
            left: -10px;
            top: 0;
            background-color: var(--b3-theme-surface-lighter);
        }   
        &.QYLmemoActive {
            background-color: var(--QYL-tab-item-focus);
        }
        &:hover {
            background-color: var(--QYL-tab-item-focus);
        }
        & > div:first-child {
            color: var(--b3-theme-on-background);
            font-weight: bold;
            &:before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                background-color: var(--b3-theme-primary);
                border-radius: 50%;
                margin-right: 0.2em;
                vertical-align: -1px;
            };
        }
    }
}
/* 左侧 */
.QYLmemoL .protyle-wysiwyg:not(.QYLmemoNone) {
    width: calc(100% - 250px) !important;
    margin-left: auto;
}
.QYLEditorFullWidth.QYLmemoL .QYL-inline-memo-box {
    left: -5px;
}
.QYLmemoL .QYL-inline-memo-box {
    position: absolute;
    left: -50px;
    top: 55px;
    width: 250px;
    margin-right: 10px;
    display: block;
    & .QYL-inline-memo {
        cursor: pointer;
        user-select: none;
        white-space: break-spaces;
        word-break: break-all;
        overflow-wrap: break-word;
        font-size: 13px;
        color: var(--b3-theme-on-surface);
        transition: 0.2s;
        padding: 3px;
        border-radius: 6px;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        &:before {
            content: '';
            height: 100%;
            width: 3px;
            position: absolute;
            left: -10px;
            top: 0;
            background-color: var(--b3-theme-surface-lighter);
        }   
        &.QYLmemoActive {
            background-color: var(--QYL-tab-item-focus);
        }
        &:hover {
            background-color: var(--QYL-tab-item-focus);
        }
        & > div:first-child {
            color: var(--b3-theme-on-background);
            font-weight: bold;
            &:before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                background-color: var(--b3-theme-primary);
                border-radius: 50%;
                margin-right: 0.2em;
                vertical-align: -1px;
            };
        }
    }
}