:is(.QYLmemoB, .QYLmemoL, .QYLmemoR) .tooltip.tooltip--memo {
    display: none;
}
:is(.QYLmemoB, .QYLmemoL, .QYLmemoR) .b3-typography span[data-type~=inline-memo],
:is(.QYLmemoB, .QYLmemoL, .QYLmemoR) .protyle-wysiwyg span[data-type~=inline-memo] {
    transition: 0.2s;
    &.QYLinlinememoActive {
        background-color: var(--b3-theme-primary) !important;
        color: var(--b3-theme-on-primary) !important;
    }
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        color: var(--b3-theme-on-primary) !important;
    }
}
:is(.QYLmemoB, .QYLmemoL, .QYLmemoR) .QYLmemoBlock .QYL-inline-memo-box {
    display: grid;
    padding: 10px;
    &.QYLmemoFullwidth {
        grid-template-columns: 1fr;
    }
    &.QYLmemoGrid {
        grid-template-columns: 1fr 1fr;
    }
    & .QYL-inline-memo {
        cursor: pointer;
        user-select: none;
        white-space: break-spaces;
        word-break: break-all;
        overflow-wrap: break-word;
        font-size: 13px;
        color: var(--b3-theme-on-surface);
        transition: 0.2s;
        padding: 3px;
        border-radius: 6px;
        &.QYLmemoActive {
            background-color: var(--QYL-tab-item-focus);
        }
        &:hover {
            background-color: var(--QYL-tab-item-focus);
        }
        & > div:first-child {
            color: var(--b3-theme-on-background);
            font-weight: bold;
            &:before {
                content: '1';
                display: inline-block;
                width: 1em;
                height: 1em;
                line-height: 1em;
                text-align: center;
                margin-right: 0.3em;
                color: var(--b3-theme-on-primary);
                background-color: var(--b3-theme-primary);
                border-radius: 50%;
                vertical-align: 1px;
            };
        }
        & + .QYL-inline-memo {
            & > div:first-child:before {
                content: '2';
            }
            & + .QYL-inline-memo {
                & > div:first-child:before {
                    content: '3';
                }
                & + .QYL-inline-memo {
                    & > div:first-child:before {
                        content: '4';
                    }
                    & + .QYL-inline-memo {
                        & > div:first-child:before {
                            content: '5';
                        }
                        & + .QYL-inline-memo {
                            & > div:first-child:before {
                                content: '6';
                            }
                            & + .QYL-inline-memo {
                                & > div:first-child:before {
                                    content: '7';
                                }
                                & + .QYL-inline-memo {
                                    & > div:first-child:before {
                                        content: '8';
                                    }
                                    & + .QYL-inline-memo {
                                        & > div:first-child:before {
                                            content: '9';
                                        }
                                        & + .QYL-inline-memo {
                                            & > div:first-child:before {
                                                content: '10';
                                            }
                                            & + .QYL-inline-memo {
                                                & > div:first-child:before {
                                                    content: '11';
                                                }
                                                & + .QYL-inline-memo {
                                                    & > div:first-child:before {
                                                        content: '12';
                                                    }
                                                    & + .QYL-inline-memo {
                                                        & > div:first-child:before {
                                                            content: '13';
                                                        }
                                                        & + .QYL-inline-memo {
                                                            & > div:first-child:before {
                                                                content: '14';
                                                            }
                                                            & + .QYL-inline-memo {
                                                                & > div:first-child:before {
                                                                    content: '15';
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* 右侧 */
.QYLmemoR .QYLmemoBlock:not(:is(.list, .sb[data-sb-layout="row"])) {
    display: flex;
    flex-direction: row;
    padding-right: 0 !important;
    & > :first-child {
        margin-right: auto;
    }
    & .QYL-inline-memo-box {
        margin-left: 10px;
        flex: 0 0 300px;
        border-left: 3px solid var(--b3-theme-surface-lighter);
        max-width: 300px;
        min-width: 300px;
        &.QYLmemoGrid {
            flex: 0 0 600px;
            max-width: 35%;
        }
    }
}
.QYLmemoR .protyle-wysiwyg {
    padding-right: 20px !important;
}
/* 左侧 */
.QYLmemoL .QYLmemoBlock:not(:is(.list, .sb[data-sb-layout="row"])) {
    display: flex;
    flex-direction: row;
    padding-left: 0 !important;
    & > :first-child {
        margin-right: auto;
        order: 1;
    }
    & .QYL-inline-memo-box {
        margin-right: 10px;
        flex: 0 0 300px;
        border-right: 3px solid var(--b3-theme-surface-lighter);
        max-width: 300px;
        min-width: 300px;
        &.QYLmemoGrid {
            flex: 0 0 600px;
            max-width: 35%;
        }
    }
}
.QYLmemoL .protyle-wysiwyg {
    padding-left: 20px !important;
}
/* 底部 */
.QYLmemoB .QYLmemoBlock {
    & .QYL-inline-memo-box {
        flex-basis: 100% !important;
        width: 100% !important;
        margin-top: 10px;
        border-top: 3px solid var(--b3-theme-surface-lighter);
        &.QYLmemoFullwidth {
            grid-template-columns: 1fr;
        }
        &.QYLmemoGrid {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}
:is(.QYLmemoL, .QYLmemoR) .QYLmemoBlock:is(.list, .sb[data-sb-layout="row"]) {
    & .QYL-inline-memo-box {
        flex-basis: 100% !important;
        width: 100% !important;
        margin-top: 10px;
        border-top: 3px solid var(--b3-theme-surface-lighter);
        &.QYLmemoFullwidth {
            grid-template-columns: 1fr;
        }
        &.QYLmemoGrid {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
}