.b3-switch {
    width: 34px;
    height: 20px;
    border: none;
}
.b3-switch::after {
    left: 10px;
    width: 16px;
    height: 16px;
    transition: left 0.4s cubic-bezier(0.25, 0.46, 0.15, 1.8), width 0.6s cubic-bezier(0.25, 0.46, 0.15, 1.8), height 0.6s cubic-bezier(0.25, 0.46, 0.15, 1.8);
}
label:hover .b3-switch:not(:disabled)::before, .b3-switch:hover:not(:disabled)::before {
    display: none;
}
.b3-switch:checked::after {
    left: 24px;
    width: 16px;
    height: 16px;
}
.b3-switch:active:not(:disabled)::after {
    height: 22px;
    width: 22px;
}
.b3-switch:checked:active:not(:disabled)::after {
    height: 22px;
    width: 22px;
}