:root {
    --QYL-av-cell: #12a08f;
    --QYL-av-cell-background: rgb(182, 236, 230);
    --QYL-av-cell-hover: var(--QYL-white);
    --QYL-av-cell-background-hover: #24cdb9;
    --QYL-av-chip-color: rgb(70, 67, 67);
    --QYL-av-chip-background1: rgb(255, 204, 204);
    --QYL-av-chip-background2: rgb(255, 210, 184);
    --QYL-av-chip-background3: rgb(194, 224, 255);
    --QYL-av-chip-background4: rgb(195, 241, 198);
    --QYL-av-chip-background5: rgb(224, 224, 224);
    --QYL-av-chip-background6: rgb(219, 199, 255);
    --QYL-av-chip-background7: rgb(255, 186, 253);
    --QYL-av-chip-background8: rgb(241, 248, 146);
    --QYL-av-chip-background9: rgb(186, 193, 255);
    --QYL-av-chip-background10: rgb(194, 242, 255);
    --QYL-av-chip-background11: rgb(255, 203, 227);
    --QYL-av-chip-background12: rgb(206, 255, 158);
    --QYL-av-chip-background13: rgb(77, 77, 77);
    --QYL-av-chip-background14: rgb(198, 212, 255);
}
/* 数据库 */
.av__cell--header .av__celltext {
    font-weight: bold;
    font-size: 105%;
}
.av__views {
    box-shadow: none;
}
.av__title {
    margin-top: 5px;
    margin-bottom: 18px;
    padding-left: 7px;
    color: var(--b3-theme-primary);
}
.av__cell .b3-chip {
    border-radius: var(--b3-border-radius);
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url, .av__celltext.av__celltext--url, .av__celltext--url.b3-chip {
    background-color: var(--QYL-av-cell-background);
    color: var(--QYL-av-cell);
    border-bottom: none;
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url:hover, .av__celltext.av__celltext--url:hover, .av__celltext--url.b3-chip:hover {
    background-color: var(--QYL-av-cell-background-hover);
    color: var(--QYL-av-cell-hover);
    transition: 0.1s;
}
.block__icon[data-type="av-add"] {
    margin-top: 8px;
}
/* 数据库chip颜色 */
.custom-attr__avvalue .b3-chip[style*="color1)"], 
.av__cell .b3-chip[style*="color1)"], 
.av__panel .b3-chip[style*="color1)"], 
[data-name="av-col-option"] .color__square[style*="color1)"], 
.b3-menu__label .b3-chip[data-color="1"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background1) !important;
}
.custom-attr__avvalue .b3-chip[style*="color2)"], 
.av__cell .b3-chip[style*="color2)"], 
.av__panel .b3-chip[style*="color2)"], 
[data-name="av-col-option"] .color__square[style*="color2)"], 
.b3-menu__label .b3-chip[data-color="2"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background2) !important;
}
.custom-attr__avvalue .b3-chip[style*="color3)"], 
.av__cell .b3-chip[style*="color3)"], 
.av__panel .b3-chip[style*="color3)"], 
[data-name="av-col-option"] .color__square[style*="color3)"], 
.b3-menu__label .b3-chip[data-color="3"] {
    color: var(--QYL-av-chip-color)  !important;
    background-color: var(--QYL-av-chip-background3) !important;
}
.custom-attr__avvalue .b3-chip[style*="color4)"], 
.av__cell .b3-chip[style*="color4)"], 
.av__panel .b3-chip[style*="color4)"], 
[data-name="av-col-option"] .color__square[style*="color4)"], 
.b3-menu__label .b3-chip[data-color="4"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background4) !important;
}
.custom-attr__avvalue .b3-chip[style*="color5)"], 
.av__cell .b3-chip[style*="color5)"], 
.av__panel .b3-chip[style*="color5)"], 
[data-name="av-col-option"] .color__square[style*="color5)"], 
.b3-menu__label .b3-chip[data-color="5"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background5) !important;
}
.custom-attr__avvalue .b3-chip[style*="color6)"], 
.av__cell .b3-chip[style*="color6)"], 
.av__panel .b3-chip[style*="color6)"], 
[data-name="av-col-option"] .color__square[style*="color6)"], 
.b3-menu__label .b3-chip[data-color="6"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background6) !important;
}
.custom-attr__avvalue .b3-chip[style*="color7)"], 
.av__cell .b3-chip[style*="color7)"], 
.av__panel .b3-chip[style*="color7)"], 
[data-name="av-col-option"] .color__square[style*="color7)"], 
.b3-menu__label .b3-chip[data-color="7"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background7) !important;
}
.custom-attr__avvalue .b3-chip[style*="color8)"], 
.av__cell .b3-chip[style*="color8)"], 
.av__panel .b3-chip[style*="color8)"], 
[data-name="av-col-option"] .color__square[style*="color8)"], 
.b3-menu__label .b3-chip[data-color="8"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background8) !important;
}
.custom-attr__avvalue .b3-chip[style*="color9)"], 
.av__cell .b3-chip[style*="color9)"], 
.av__panel .b3-chip[style*="color9)"], 
[data-name="av-col-option"] .color__square[style*="color9)"], 
.b3-menu__label .b3-chip[data-color="9"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background9) !important;
}
.custom-attr__avvalue .b3-chip[style*="color10)"], 
.av__cell .b3-chip[style*="color10)"], 
.av__panel .b3-chip[style*="color10)"], 
[data-name="av-col-option"] .color__square[style*="color10)"], 
.b3-menu__label .b3-chip[data-color="10"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background10) !important;
}
.custom-attr__avvalue .b3-chip[style*="color11)"], 
.av__cell .b3-chip[style*="color11)"], 
.av__panel .b3-chip[style*="color11)"], 
[data-name="av-col-option"] .color__square[style*="color11)"], 
.b3-menu__label .b3-chip[data-color="11"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background11) !important;
}
.custom-attr__avvalue .b3-chip[style*="color12)"], 
.av__cell .b3-chip[style*="color12)"], 
.av__panel .b3-chip[style*="color12)"], 
[data-name="av-col-option"] .color__square[style*="color12)"], 
.b3-menu__label .b3-chip[data-color="12"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background12) !important;
}
.custom-attr__avvalue .b3-chip[style*="color13)"], 
.av__cell .b3-chip[style*="color13)"], 
.av__panel .b3-chip[style*="color13)"], 
[data-name="av-col-option"] .color__square[style*="color13)"], 
.b3-menu__label .b3-chip[data-color="13"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background13) !important;
}
.custom-attr__avvalue .b3-chip[style*="color14)"], 
.av__cell .b3-chip[style*="color14)"], 
.av__panel .b3-chip[style*="color14)"], 
[data-name="av-col-option"] .color__square[style*="color14)"], 
.b3-menu__label .b3-chip[data-color="14"] {
    color: var(--QYL-av-chip-color) !important;
    background-color: var(--QYL-av-chip-background14) !important;
}