:root {
    --QYL-hover: rgba(206, 209, 223, 0.5); /* 主要悬停色 */
    --QYL-hover-hover: rgba(206, 209, 223, 0.7);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(206, 209, 223, 0.2);/* 主要悬停色变浅 */
    --b3-theme-primary: #2f3953 !important; 
    --b3-theme-primary-light: rgba(47, 57, 83, 0.5); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(47, 57, 83, 0.3); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(47, 57, 83, 0.12); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: #f5f5f5;
    --b3-theme-surface-light: rgba(245, 245, 245, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: #ececec;
    --b3-theme-background: #feffff;
    --b3-theme-background-light:#ededed; /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: #fcfcfc; /* 失焦颜色 */
    --b3-scroll-color:  #ececec; /* 滚动条颜色 */
    --QYL-white: var(--b3-theme-background); /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
    --b3-toolbar-color: var(--b3-theme-on-surface);/* 顶部按钮颜色 */
    --QYL-filetree-arrow: var(--b3-theme-on-surface);/* 文档树箭头颜色 */
    --b3-theme-error: #dc3030;
    --b3-theme-success: #38c172;
    --b3-theme-secondary: #f4ca64;
    --QYL-accent-color: var(--QYL-ivory-primary);
    --QYL-border-file: #dbdbdb;

    /* 文字颜色 */
    --b3-theme-on-primary: #feffff;
    --b3-theme-on-secondary: #feffff;
    --b3-theme-on-background: #2f3953;
    --b3-theme-on-surface: #424e6c;
    --b3-theme-on-surface-light: #687697;
    --b3-theme-on-error: #feffff;

    /* 容器阴影 */
    --b3-point-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-dialog-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-button-shadow: var(--b3-theme-primary-lightest) 0px 3px 6px, var(--b3-theme-primary-lightest) 0px 3px 6px;
    --b3-light-shadow: var(--b3-theme-primary-lightest) 0px 1px 2px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
    --QYL-shadow-highlight: var(--b3-theme-primary-lightest) 0px 1px 1px 0px, var(--b3-theme-primary-lightest) 0px 1px 3px 1px;
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: var(--b3-theme-surface-lighter);
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover:rgb(from var(--QYL-ivory-second) r g b / 60%);
}
:root {
    --QYL-account-background1: linear-gradient(to right bottom, #f5f5f5, #f7f7f8, #fafafa, #fcfcfd, #feffff);
    --QYL-account-background2: linear-gradient(to right bottom, #f5f5f5, #f7f7f8, #fafafa, #fcfcfd, #feffff);
}

/* 细节调整 */
:root {
    --QYL-ivory-primary: #6641e9;
    --QYL-ivory-second: #3f6fe6;
}
/* 按钮 */
.b3-button {
    --b3-theme-primary: var(--QYL-ivory-primary);
}
#barWorkspace {
    background-color:var(--b3-theme-surface);
    height: 22px;
    min-width: 30px;
    & span.toolbar__text {
        color: var(--b3-theme-on-surface);
        line-height: 12px;
    }
    &:hover {
        background-color: var(--QYL-ivory-second) !important;
        & span.toolbar__text {
            color: var(--b3-theme-background);
        }
    }
}
.b3-button:hover, .b3-button:focus, .b3-button--progress {
    box-shadow: none;
}
div[data-key="dialog-opencard"] .b3-button:is([data-type="-2"], [data-type="-3"], [data-type="1"], [data-type="2"], [data-type="3"], [data-type="4"]) {
    box-shadow: none;
}
/* 悬停 */
.b3-menu__item--selected {
    --b3-theme-primary: var(--QYL-ivory-primary);
}
.dock__item:hover:not(.dock__item--activefocus), .dock__item--active {
    background-color:rgba(255, 0, 0, 0);
    color: var(--QYL-ivory-second);
}
.toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close):hover, .toolbar__item--active {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-ivory-second);
}
#QToolbar:hover {
    background-color: rgba(255, 0, 0, 0);
    --b3-toolbar-color: var(--QYL-ivory-second);
}
.block__icon:hover:not([disabled]):not(.ft__primary):not(.block__icon--warning), .block__icon--active {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-ivory-second) !important;
}
.b3-list-item__action:hover {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-ivory-second);
}
.file-tree .b3-list-item .b3-list-item__toggle:hover .b3-list-item__arrow {
    color: var(--QYL-ivory-second);
}
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus):not(.dragover):not(.dragover__current):not(.dragover__top):not(.dragover__bottom), .b3-list--background .b3-list-item--focus {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-ivory-second);
    & .b3-list-item__text {
        color: var(--QYL-ivory-second);
    }
}
.b3-menu__item--current:not(.b3-menu__item--readonly) {
    background-color: var(--QYL-ivory-second) !important;
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator) {
        color: var(--b3-theme-background) !important;
    }
}
.file-tree .b3-list--background .b3-list-item--focus {
    background-color: rgba(255, 0, 0, 0);
    color: var(--QYL-ivory-second);
}
.secondaryToolbarButton:hover {
    background-color: var(--QYL-ivory-second);
    & .b3-menu__icon, .b3-menu__label, .b3-menu__accelerator {
        color: var(--b3-theme-background) !important;
    }
}
.pdf__util .b3-menu__item:hover {
    background-color: var(--QYL-ivory-second);
    & .b3-menu__icon, .b3-menu__label, .b3-menu__accelerator {
        color: var(--b3-theme-background) !important;
    }
}
/* 主界面 */
.dock--vertical {
    width: 40px;
}
#layouts .fn__flex-column:not(.layout__center) .fn__flex .layout-tab-container {
    border: 1px solid var(--b3-theme-surface-lighter);
}
.layout__center :is(.fn__flex-1, .fn__flex) > [data-type="wnd"] > .fn__flex {
    & .layout-tab-bar:first-child {
        border: 1px solid var(--b3-theme-surface-lighter);
        border-bottom: none;
        border-right: none;
    }
    & .layout-tab-bar.layout-tab-bar--readonly {
        border: 1px solid var(--b3-theme-surface-lighter);
        border-bottom: none;
        border-left: none;
    }
}
.layout__center :is(.fn__flex-1, .fn__flex) > [data-type="wnd"] > .layout-tab-container {
    border: 1px solid var(--b3-theme-surface-lighter);
}
.layout__dockb :is(.fn__flex-1, .fn__flex) > [data-type="wnd"] > .layout-tab-container {
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 页签 */
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus) {
    background-color: var(--b3-theme-surface);
    border: 1px solid var(--b3-theme-surface-lighter);
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not(.item.item--focus):hover {
    background-color:var(--b3-theme-surface);
    border: 1px solid var(--b3-theme-surface-lighter);
}
.item.item--focus {
    background-color:var(--b3-theme-background);
    border: 1px solid var(--b3-theme-surface-lighter);
}
.item.item--focus:hover {
    background-color:var(--b3-theme-background);
    border: 1px solid var(--b3-theme-surface-lighter);
}
.layout-tab-bar .item {
    --QYL-tab-close-background-hover-close: var(--QYL-ivory-primary);
}
.b3-menu__action.b3-menu__action--close {
    color: var(--b3-theme-background);
    &:hover {
        color: var(--b3-theme-error); 
    }
}
/* 面包屑 */
.protyle-breadcrumb__item:hover {
    background: var(--QYL-ivory-second);
    & .popover__block, .protyle-breadcrumb__text {
        color: var(--b3-theme-background);
        transition: var(--b3-transition);
    }
}
.protyle-breadcrumb button[data-type="exit-focus"] {
    --b3-theme-primary: var(--QYL-ivory-primary);
}
/* 组件 */
.b3-switch {
    --b3-switch-checked-background: var(--QYL-ivory-second);
}
.b3-select {
    box-shadow: none;
    background-color: var(--b3-theme-surface) !important;
}
.b3-select:hover, .b3-select:focus {
    box-shadow: none;
    background-color: var(--b3-theme-surface) !important;
    outline: 2px solid rgb(from var(--QYL-ivory-second) r g b / 60%);
    transition: 0.1s;
}
.b3-text-field:not([data-type="av-search"]), .pcr-app .pcr-interaction .pcr-result {
    box-shadow: none;
    background-color: var(--b3-theme-surface);
}
.b3-text-field:not(.b3-text-field--text):hover, .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):hover {
    box-shadow: none;
}
.b3-text-field:not(.b3-text-field--text):focus, .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus {
    box-shadow: none;
    outline: 2px solid rgb(from var(--QYL-ivory-second) r g b / 60%);
    transition: 0.1s;
}
div[data-key="dialog-setting"] .b3-tab-bar [placeholder="搜索"] {
    background-color: var(--b3-theme-surface-lighter);
}
[data-key="dialog-recentdocs"] [placeholder="搜索"] {
    background-color: var(--b3-theme-surface-lighter);
}
div[data-key="dialog-globalsearch"] .b3-form__icon.search__header .b3-text-field.b3-text-field--text {
    background-color: var(--b3-theme-background);
}
div[data-key="dialog-commandpanel"] .b3-dialog__body .fn__flex-column .b3-form__icon.search__header .b3-text-field.b3-text-field--text {
    background-color: var(--b3-theme-surface-lighter);
}
/* 阴影 */
.b3-menu, .b3-dialog__container, .b3-menu__submenu, .secondaryToolbar {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
}
#status {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
}
#QYLsettings-window {
    box-shadow: none !important;
    border: 1px solid var(--b3-theme-surface-lighter) !important;
}
.tooltip {
    box-shadow: none;
    border: 1px solid rgb(235, 237, 244);
    background-color: rgb(244, 247, 255);
}  
[class*="b3-tooltips"]::after {
    box-shadow: none;
    border: 1px solid rgb(235, 237, 244);
    background-color: rgb(244, 247, 255);
}
#message .b3-snackbar__content {
    box-shadow: none;
    border: 1px solid rgb(235, 237, 244);
    background-color: rgb(244, 247, 255);
}
/* 集市 */
.config-bazaar__panel .b3-card {
    box-shadow: none;
    outline: 1px solid var(--b3-theme-surface-lighter);
}
div[data-key="dialog-setting"] .b3-dialog__container .config__tab-wrap .config-bazaar__panel .fn__flex.config-bazaar__title button:is([data-type="myPlugin"], [data-type="myTheme"], [data-type="myIcon"], [data-type="myTemplate"], [data-type="myWidget"]) {
    background-color: rgba(255, 0, 0, 0) !important;
    color: var(--b3-theme-on-surface);
    border: none;
    box-shadow: none;
    font-weight: bold;
    &:focus {
        background-color: rgba(255, 0, 0, 0) !important;
        color: var(--QYL-ivory-second) !important;
        border: none;
        box-shadow: none;
        border: none;
        box-shadow: none;
    }
    &:not(.b3-button--outline) {
        background-color: rgba(255, 0, 0, 0) !important;
        color: var(--QYL-ivory-second) !important;
        border: none;
        box-shadow: none;
        border: none;
        box-shadow: none;
    }
    &:hover {
        background-color: rgba(255, 0, 0, 0) !important;
        color: var(--QYL-ivory-second);
        border: none;
        box-shadow: none;
        border: none;
        box-shadow: none;
    }
}
/* 垂直页签调整 */
#layouts .layout__center .QYLwndthe1 > .fn__flex .layout-tab-bar:not(.layout-tab-bar--readonly) {
    border: 1px solid var(--b3-theme-surface-lighter);
    border-bottom: none;
}
#layouts .layout__center .QYLwndthe1 > .fn__flex > .layout-tab-bar--readonly {
    border: 1px solid var(--b3-theme-surface-lighter);
    border-top: none;
}
/* 排版元素 */
.protyle-wysiwyg .li.protyle-task--done>.protyle-action--task, .av__cell-check, .protyle-wysiwyg .li[data-subtype=t] .protyle-action--task, .av__cell-uncheck {
    --QYL-task-block: var(--QYL-ivory-primary);
}
:root {
    --QYL-lihelp: var(--QYL-ivory-primary);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
    background-color: var(--QYL-ivory-second);
    &:hover {
        background-color: var(--QYL-ivory-primary) !important;
    }
}
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-color:rgb(from var(--QYL-ivory-second) r g b / 20%);
    border-bottom: 2px solid var(--QYL-ivory-second);
}
.tooltip.tooltip--memo {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 编辑器工具栏 */
.protyle-toolbar {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
    background-color: var(--b3-theme-surface);
}
.protyle-hint, .protyle-util {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
    background-color: var(--b3-theme-surface);
}
/* 斜杠菜单 */
.protyle-hint.hint--menu {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
    background-color: var(--b3-theme-surface);
}
/* 菜单 */
.b3-menu, .b3-menu__item, .b3-menu__submenu {
    background-color: var(--b3-theme-surface);
}
/* 取消页签闪光 */
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):not([data-type="openai"]):not([data-type="remove"]):not([data-type="missing"]):not([data-type="css"]):not([data-type="js"]):not([data-type="attr"]):not([data-type="custom"]):not([data-type="doc"], [data-type="notebook"], [data-type="repo"]) {
    &:before {
        display: none !important;
    }
}
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly):is([data-type="openai"], [data-type="remove"], [data-type="missing"], [data-type="css"], [data-type="js"], [data-type="attr"], [data-type="custom"], [data-type="doc"], [data-type="notebook"], [data-type="repo"]) {
    &:before {
        display: none !important;
    }
}
/* 块标 */
.protyle-gutters button:hover svg {
    color: var(--QYL-ivory-primary); 
}
.protyle-title.protyle-wysiwyg--attr span.protyle-title__icon.ariaLabel:hover svg {
    color: var(--QYL-ivory-primary); 
}
/* 块引预览 */
.block__popover {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
    background-color: var(--b3-theme-surface);
    & .block__icons.block__icons--menu {
        background-color: var(--b3-theme-surface);
    }
}
/* 设置 */
div[data-key="dialog-setting"] .config__tab-wrap {
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 命令面板 */
div[data-key="dialog-commandpanel"] .b3-dialog__body .fn__flex-column .b3-list.b3-list--background.search__list {
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 搜索 */
div[data-key="dialog-globalsearch"] .b3-form__icon.search__header {
    border: 1px solid var(--b3-theme-surface-lighter) !important;
}
div[data-key="dialog-globalsearch"] .search__header[id="criteria"] {
    border: 1px solid var(--b3-theme-surface-lighter) !important;
}
div[data-key="dialog-globalsearch"] .search__layout--row .search__preview {
    border: 1px solid var(--b3-theme-surface-lighter) !important;
}
div[data-key="dialog-globalsearch"] #searchList {
    border: 1px solid var(--b3-theme-surface-lighter) !important;
}
.layout__center .search__header .b3-text-field:not([data-type="av-search"]) {
    background-color: var(--b3-theme-background);
}
:is(#searchList, #searchUnRefList, #searchAssetList) .b3-list-item mark {
    background-color: var(--QYL-ivory-primary);
}
/* 侧栏 */
.graph__panel {
    box-shadow: none;
    border: 1px solid var(--b3-theme-surface-lighter);
}
/* 高亮 */
:root {
    --b3-highlight-background: var(--QYL-ivory-primary) !important;
    --b3-highlight-color: var(--QYL-white) !important;
    --b3-highlight-current-background: var(--QYL-ivory-primary) !important;
}
.b3-list mark {
    background-color: var(--QYL-ivory-primary);
}
/* 同步菜单 */
[data-key="dialog-syncchoosedirection"] .b3-dialog__container {
    background-color: var(--b3-theme-surface);
}



/* 文档层级导航插件适配 */
[id^="og_plugintemplate"] .b3-text-field:not(.b3-text-field--text), [id^="og_plugintemplate"] .b3-text-field:not(.b3-text-field--text):focus, [id^="og_plugintemplate"] .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus {
    outline: none;
    background-color: var(--b3-theme-surface-lighter);
}
.og-hn-container-multiline .og-hierachy-navigate-doc-indicator, .og-hn-create-at-content, .og-hn-modify-at-content, .og-hn-child-word-count-content, .og-hn-child-doc-count-content {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-tabs-tab-active, .arco-tabs-tab-active:hover {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-tabs-nav-ink {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-select-view-single {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-select-view-single:focus-within, .arco-select-view-single.arco-select-view-focus, .arco-select-view-single:hover {
    --b3-theme-primary: var(--QYL-ivory-second);
}
[data-v-app] .arco-picker-cell:not(.arco-picker-cell-selected).arco-picker-cell-in-view .exist {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-picker-cell-today:after {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-picker-cell-selected .arco-picker-date-value {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-picker-cell:not(.arco-picker-cell-selected).arco-picker-cell-in-view .arco-picker-date-value:hover {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-picker-header-title, .arco-picker-week-list-item {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-picker-header-icon {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-btn-secondary, .arco-btn-secondary[type=button], .arco-btn-secondary[type=submit] {
    --b3-theme-primary: var(--QYL-ivory-second);
}
.arco-select-view-single {
    border: none !important;
    box-shadow: none !important;
    background-color: var(--b3-theme-surface-lighter) !important;
    &:hover {
        border: none !important;
        box-shadow: none !important;
    }
}
.arco-select-view-single:focus-within, .arco-select-view-single.arco-select-view-focus, .arco-select-view-single:hover {
    border: none !important;
    box-shadow: none !important;
}
.protyle-hint .b3-list-item[data-value^="plugin"][data-value*="sy-insert-time"] {
    & b {
        color: var(--QYL-ivory-second);
    }
}