:root {
--filetree-line-1: rgba(84, 115, 207, 0.5);
--filetree-line-2: rgba(190, 139, 57, 0.5);
--filetree-line-3: rgba(194, 75, 75, 0.5);
--filetree-line-4: rgba(64, 185, 76, 0.5);
--filetree-line-5: rgba(156, 76, 187, 0.5);
--filetree-line-6: rgba(49, 147, 131, 0.5);
--filetree-line-7: rgba(171, 64, 166, 0.5);
--filetree-line-8: rgba(169, 96, 65, 0.5);
}
.fn__flex-1.fn__flex-column.file-tree.sy__file ul.b3-list.b3-list--background { margin-left: 20px; }
[data-type="navigation-root"]::before {
    content: "";
    width: 12px;
    height: 28px;
    position: absolute;
    left: -20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.b3-list:nth-of-type(8n+1)>[data-type="navigation-root"]::before {
    background-color: #3573f0 !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+1) {
    border-left: 3px solid #3573f0;
}
.b3-list:nth-of-type(8n+1)>[data-type="navigation-root"] {
    background-color:rgba(53, 115, 240, 0.5) !important;
}
.b3-list:nth-of-type(8n+2)>[data-type="navigation-root"]::before {
    background-color:rgb(220, 172, 14) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+2) {
    border-left: 3px solid rgb(220, 172, 14);
}
.b3-list:nth-of-type(8n+2)>[data-type="navigation-root"] {
    background-color: rgba(220, 172, 14, 0.5) !important;
}
.b3-list:nth-of-type(8n+3)>[data-type="navigation-root"]::before {
    background-color:rgb(211, 70, 54) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+3) {
    border-left: 3px solid rgb(211, 70, 54);
}
.b3-list:nth-of-type(8n+3)>[data-type="navigation-root"] {
    background-color: rgba(211, 70, 54, 0.5) !important;
}
.b3-list:nth-of-type(8n+4)>[data-type="navigation-root"]::before {
    background-color:rgb(80, 159, 60) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+4) {
    border-left: 3px solid rgb(80, 159, 60);
}
.b3-list:nth-of-type(8n+4)>[data-type="navigation-root"] {
    background-color: rgba(80, 159, 60, 0.5) !important;
}
.b3-list:nth-of-type(8n+5)>[data-type="navigation-root"]::before {
    background-color:rgb(154, 75, 183) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+5) {
    border-left: 3px solid rgb(154, 75, 183);
}
.b3-list:nth-of-type(8n+5)>[data-type="navigation-root"] {
    background-color: rgba(157, 103, 177, 0.5)!important;
}
.b3-list:nth-of-type(8n+6)>[data-type="navigation-root"]::before {
    background-color:rgb(33, 152, 145) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+6) {
    border-left: 3px solid rgb(33, 152, 145);
}
.b3-list:nth-of-type(8n+6)>[data-type="navigation-root"] {
    background-color: rgba(33, 152, 144, 0.5) !important;
}
.b3-list:nth-of-type(8n+7)>[data-type="navigation-root"]::before {
    background-color:rgb(180, 42, 115) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n+7) {
    border-left: 3px solid rgb(180, 42, 115);
}
.b3-list:nth-of-type(8n+7)>[data-type="navigation-root"] {
    background-color: rgba(180, 42, 116, 0.5) !important;
}
.b3-list:nth-of-type(8n)>[data-type="navigation-root"]::before {
    background-color:rgb(176, 95, 28) !important;
}
div.sy__file ul:not(ul ul):not(ul.b3-list.fn__flex-column):nth-of-type(8n) {
    border-left: 3px solid rgb(176, 95, 28);
}
.b3-list:nth-of-type(8n)>[data-type="navigation-root"] {
    background-color:rgba(176, 95, 28, 0.5) !important;
}

/* 手机端多彩文档树 */
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 .b3-list .b3-list-item { margin-top: 0; margin-bottom: 0;}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 .b3-list.b3-list--background { margin-left: 20px; }
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul > li[data-type="navigation-root"]::before {
    content: "";
    width: 14px;
    height: 40px;
    position: absolute;
    left: -19.5px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+1) > li[data-type="navigation-root"]::before {
    background-color: #3573f0 !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+1) > li[data-type="navigation-root"] + ul {
    border-left: 3px solid #3575f0;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+2) > li[data-type="navigation-root"]::before {
    background-color: rgb(220, 172, 14) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+2) > li[data-type="navigation-root"] + ul {
    border-left: 3px solid rgb(220, 172, 14);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+3) > li[data-type="navigation-root"]::before {
    background-color: rgb(211, 70, 54) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+3) > li[data-type="navigation-root"] + ul {
    border-left: 3px solid rgb(211, 70, 54);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+4) > li[data-type="navigation-root"]::before {
    background-color: rgb(80, 159, 60) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+4) > li[data-type="navigation-root"] + ul {
    border-left: 3px solid rgb(80, 159, 60);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+5) > li[data-type="navigation-root"]::before {
    background-color: rgb(154, 75, 183) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+5) > li[data-type="navigation-root"] + ul {
    border-left: 3px solid rgb(154, 75, 183);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+6) > li[data-type="navigation-root"]::before {
    background-color: rgb(33, 152, 145) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+6) > li[data-type="navigation-root"] + ul {
    border-left: 3px solid rgb(33, 152, 145);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+7) > li[data-type="navigation-root"]::before {
    background-color: rgb(180, 42, 115) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n+7) > li[data-type="navigation-root"] + ul {
    border-left: 3px solid rgb(180, 42, 115);
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n) > li[data-type="navigation-root"]::before {
    background-color: rgb(176, 95, 28) !important;
}
.QYLmobile #sidebar [data-type="sidebar-file"] .fn__flex-1 > ul:nth-of-type(8n) > li[data-type="navigation-root"] + ul {
    border-left: 3px solid rgb(176, 95, 28);
}