:root {
    --QYL-av-cell: var(--b3-theme-primary);
    --QYL-av-cell-background: var(--b3-theme-primary-lightest);
    --QYL-av-cell-hover: var(--QYL-white);
    --QYL-av-cell-background-hover: var(--b3-theme-primary);
    --QYL-av-chip-color1: var(--b3-theme-on-background);
    --QYL-av-chip-color2: var(--b3-theme-on-background);
    --QYL-av-chip-color3: var(--b3-theme-on-background);
    --QYL-av-chip-color4: var(--b3-theme-on-background);
    --QYL-av-chip-color5: var(--b3-theme-on-background);
    --QYL-av-chip-color6: var(--b3-theme-on-background);
    --QYL-av-chip-color7: var(--b3-theme-on-background);
    --QYL-av-chip-color8: var(--b3-theme-on-background);
    --QYL-av-chip-color9: var(--b3-theme-on-background);
    --QYL-av-chip-color10: var(--b3-theme-on-background);
    --QYL-av-chip-color11: var(--b3-theme-on-background);
    --QYL-av-chip-color12: var(--b3-theme-on-background);
    --QYL-av-chip-color13: var(--b3-theme-on-background);
    --QYL-av-chip-color14: var(--b3-theme-on-background);
    --QYL-av-chip-background1: rgba(205, 63, 63, 0.5);
    --QYL-av-chip-background2: rgba(225, 137, 74, 0.5);
    --QYL-av-chip-background3: rgba(189, 189, 34, 0.55);
    --QYL-av-chip-background4: rgba(77, 227, 69, 0.5);
    --QYL-av-chip-background5: rgba(69, 222, 207, 0.5);
    --QYL-av-chip-background6: rgba(70, 140, 198, 0.5);
    --QYL-av-chip-background7: rgba(138, 101, 224, 0.5);
    --QYL-av-chip-background8: rgba(207, 108, 210, 0.5);
    --QYL-av-chip-background9: rgba(255, 0, 0, 0.3);
    --QYL-av-chip-background10: rgba(237, 67, 0, 0.3);
    --QYL-av-chip-background11: rgba(0, 158, 0, 0.3);
    --QYL-av-chip-background12: rgba(0, 41, 174, 0.3);
    --QYL-av-chip-background13: rgba(25, 25, 25, 0.3);
    --QYL-av-chip-background14: rgba(106, 0, 159, 0.3);
}
/* 数据库 */
.av__cell--header .av__celltext {
    font-weight: bold;
    font-size: 105%;
}
.av__views {
    box-shadow: none;
}
.av__title {
    margin-top: 5px;
    margin-bottom: 18px;
    padding-left: 7px;
    color: var(--b3-theme-primary);
}
.av__cell .b3-chip {
    border-radius: var(--b3-border-radius);
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url, .av__celltext.av__celltext--url, .av__celltext--url.b3-chip {
    background-color: var(--QYL-av-cell-background);
    color: var(--QYL-av-cell);
    border-bottom: none;
}
.protyle-wysiwyg[data-readonly=true] .av .av__celltext--url:hover, .av__celltext.av__celltext--url:hover, .av__celltext--url.b3-chip:hover {
    background-color: var(--QYL-av-cell-background-hover);
    color: var(--QYL-av-cell-hover);
    transition: 0.1s;
}
.block__icon[data-type="av-add"] {
    margin-top: 8px;
}
/* 数据库chip颜色 */
.custom-attr__avvalue .b3-chip[style*="color1)"], 
.av__cell .b3-chip[style*="color1)"], 
.av__panel .b3-chip[style*="color1)"], 
[data-name="av-col-option"] .color__square[style*="color1)"], 
.b3-menu__label .b3-chip[data-color="1"] {
    color: var(--QYL-av-chip-color1) !important;
    background-color: var(--QYL-av-chip-background1) !important;
}
.custom-attr__avvalue .b3-chip[style*="color2)"], 
.av__cell .b3-chip[style*="color2)"], 
.av__panel .b3-chip[style*="color2)"], 
[data-name="av-col-option"] .color__square[style*="color2)"], 
.b3-menu__label .b3-chip[data-color="2"] {
    color: var(--QYL-av-chip-color2) !important;
    background-color: var(--QYL-av-chip-background2) !important;
}
.custom-attr__avvalue .b3-chip[style*="color3)"], 
.av__cell .b3-chip[style*="color3)"], 
.av__panel .b3-chip[style*="color3)"], 
[data-name="av-col-option"] .color__square[style*="color3)"], 
.b3-menu__label .b3-chip[data-color="3"] {
    color: var(--QYL-av-chip-color3)  !important;
    background-color: var(--QYL-av-chip-background3) !important;
}
.custom-attr__avvalue .b3-chip[style*="color4)"], 
.av__cell .b3-chip[style*="color4)"], 
.av__panel .b3-chip[style*="color4)"], 
[data-name="av-col-option"] .color__square[style*="color4)"], 
.b3-menu__label .b3-chip[data-color="4"] {
    color: var(--QYL-av-chip-color4) !important;
    background-color: var(--QYL-av-chip-background4) !important;
}
.custom-attr__avvalue .b3-chip[style*="color5)"], 
.av__cell .b3-chip[style*="color5)"], 
.av__panel .b3-chip[style*="color5)"], 
[data-name="av-col-option"] .color__square[style*="color5)"], 
.b3-menu__label .b3-chip[data-color="5"] {
    color: var(--QYL-av-chip-color5) !important;
    background-color: var(--QYL-av-chip-background5) !important;
}
.custom-attr__avvalue .b3-chip[style*="color6)"], 
.av__cell .b3-chip[style*="color6)"], 
.av__panel .b3-chip[style*="color6)"], 
[data-name="av-col-option"] .color__square[style*="color6)"], 
.b3-menu__label .b3-chip[data-color="6"] {
    color: var(--QYL-av-chip-color6) !important;
    background-color: var(--QYL-av-chip-background6) !important;
}
.custom-attr__avvalue .b3-chip[style*="color7)"], 
.av__cell .b3-chip[style*="color7)"], 
.av__panel .b3-chip[style*="color7)"], 
[data-name="av-col-option"] .color__square[style*="color7)"], 
.b3-menu__label .b3-chip[data-color="7"] {
    color: var(--QYL-av-chip-color7) !important;
    background-color: var(--QYL-av-chip-background7) !important;
}
.custom-attr__avvalue .b3-chip[style*="color8)"], 
.av__cell .b3-chip[style*="color8)"], 
.av__panel .b3-chip[style*="color8)"], 
[data-name="av-col-option"] .color__square[style*="color8)"], 
.b3-menu__label .b3-chip[data-color="8"] {
    color: var(--QYL-av-chip-color8) !important;
    background-color: var(--QYL-av-chip-background8) !important;
}
.custom-attr__avvalue .b3-chip[style*="color9)"], 
.av__cell .b3-chip[style*="color9)"], 
.av__panel .b3-chip[style*="color9)"], 
[data-name="av-col-option"] .color__square[style*="color9)"], 
.b3-menu__label .b3-chip[data-color="9"] {
    color: var(--QYL-av-chip-color9) !important;
    background-color: var(--QYL-av-chip-background9) !important;
}
.custom-attr__avvalue .b3-chip[style*="color10)"], 
.av__cell .b3-chip[style*="color10)"], 
.av__panel .b3-chip[style*="color10)"], 
[data-name="av-col-option"] .color__square[style*="color10)"], 
.b3-menu__label .b3-chip[data-color="10"] {
    color: var(--QYL-av-chip-color10) !important;
    background-color: var(--QYL-av-chip-background10) !important;
}
.custom-attr__avvalue .b3-chip[style*="color11)"], 
.av__cell .b3-chip[style*="color11)"], 
.av__panel .b3-chip[style*="color11)"], 
[data-name="av-col-option"] .color__square[style*="color11)"], 
.b3-menu__label .b3-chip[data-color="11"] {
    color: var(--QYL-av-chip-color11) !important;
    background-color: var(--QYL-av-chip-background11) !important;
}
.custom-attr__avvalue .b3-chip[style*="color12)"], 
.av__cell .b3-chip[style*="color12)"], 
.av__panel .b3-chip[style*="color12)"], 
[data-name="av-col-option"] .color__square[style*="color12)"], 
.b3-menu__label .b3-chip[data-color="12"] {
    color: var(--QYL-av-chip-color12) !important;
    background-color: var(--QYL-av-chip-background12) !important;
}
.custom-attr__avvalue .b3-chip[style*="color13)"], 
.av__cell .b3-chip[style*="color13)"], 
.av__panel .b3-chip[style*="color13)"], 
[data-name="av-col-option"] .color__square[style*="color13)"], 
.b3-menu__label .b3-chip[data-color="13"] {
    color: var(--QYL-av-chip-color13) !important;
    background-color: var(--QYL-av-chip-background13) !important;
}
.custom-attr__avvalue .b3-chip[style*="color14)"], 
.av__cell .b3-chip[style*="color14)"], 
.av__panel .b3-chip[style*="color14)"], 
[data-name="av-col-option"] .color__square[style*="color14)"], 
.b3-menu__label .b3-chip[data-color="14"] {
    color: var(--QYL-av-chip-color14) !important;
    background-color: var(--QYL-av-chip-background14) !important;
}