/* 空块提示blankblock-remind */
.protyle-wysiwyg [data-node-id][custom-blankblock-remind="开启"] > [contenteditable][spellcheck]:empty::before,
.protyle-wysiwyg[custom-blankblock-remind="开启"] [data-node-id] > [contenteditable][spellcheck]:empty::before {
    content:"空空如也";
    color: var(--b3-theme-on-surface);
    opacity: 0.5;
}
.protyle-wysiwyg [data-node-id][custom-blankblock-remind="turn on"] > [contenteditable][spellcheck]:empty::before,
.protyle-wysiwyg[custom-blankblock-remind="turn on"] [data-node-id] > [contenteditable][spellcheck]:empty::before {
    content:"空空如也";
    color: var(--b3-theme-on-surface);
    opacity: 0.5;
}
html:not([lang="zh_CN"]) .protyle-wysiwyg [data-node-id][custom-blankblock-remind="开启"] > [contenteditable][spellcheck]:empty::before,
html:not([lang="zh_CN"]) .protyle-wysiwyg[custom-blankblock-remind="开启"] [data-node-id] > [contenteditable][spellcheck]:empty::before {
    content:"Empty";
    color: var(--b3-theme-on-surface);
    opacity: 0.5;
}
html:not([lang="zh_CN"]) .protyle-wysiwyg [data-node-id][custom-blankblock-remind="turn on"] > [contenteditable][spellcheck]:empty::before,
html:not([lang="zh_CN"]) .protyle-wysiwyg[custom-blankblock-remind="turn on"] [data-node-id] > [contenteditable][spellcheck]:empty::before {
    content:"Empty";
    color: var(--b3-theme-on-surface);
    opacity: 0.5;
}