[custom-flashcard-blockmask="blockmask"] {
    box-shadow: var(--b3-shadow-outside);
    border: 0.5px solid var(--b3-theme-surface-lighter);
    &:hover::after {
        animation: QYLFlashCardHover 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
    }
    &::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background: linear-gradient( to bottom right, var(--b3-theme-surface), var(--b3-theme-background), var(--b3-theme-surface));
        border-radius: inherit;
        animation: QYLFlashCardHoverOut  0.3s cubic-bezier(0.34, 1, 0.64, 1) forwards;
        transform-origin: right;
        z-index: 2;
    }
}
@keyframes QYLFlashCardHover {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}
@keyframes QYLFlashCardHoverOut {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
[custom-flashcard-marktoblank="marktoblank"] span[data-type~=mark] {
    color: transparent !important;
    border-bottom: 2px solid var(--b3-theme-primary);
    background: transparent !important;
    background-color: var(--QYL-tab-item-focus) !important;
    transition: var(--b3-transition);
}
[custom-flashcard-marktoblank="marktoblank"] span[data-type~=mark]:hover {
    color: unset !important;
    background: unset !important;
    background-color: unset!important;
}
.card__block [custom-flashcard-marktoblank="marktoblank"] span[data-type~=mark] {
    transition: none !important;
}
.card__block.card__block--hidemark [custom-flashcard-marktoblank="marktoblank"] span[data-type~=mark]::before {
    border-bottom: none !important;
}
.card__block.card__block--hidemark [custom-flashcard-marktoblank="marktoblank"] span[data-type~=mark]::before {
    content: "qqqqq";
    color: transparent;
    border-bottom: 2px solid var(--b3-theme-primary);
    background-color: var(--QYL-tab-item-focus);
}