/* 自定义属性table-style */
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table th, :is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table td, :is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table tr:nth-child(even) td {
    border: none;
}
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table th {
    border-top: 2px solid var(--b3-theme-on-background);
    border-bottom: 1px solid var(--b3-theme-on-background);
}
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table tbody tr:last-child {
    border-bottom: 2px solid var(--b3-theme-on-background);
}
:is([custom-table-style="三线表"], [custom-table-style="three-line table"]) table:hover :is(th, td) {
    outline: 0.5px dashed var(--b3-theme-surface-lighter);
}
/* 强化表头 */
[custom-table-style-thead="强化表头"] table :is(th, td) {
    border-color: var(--b3-theme-primary) !important;
}
[custom-table-style-thead="强化表头"] table th:not(:last-child) {
    border-right-color: var(--b3-theme-on-primary) !important;
}
[custom-table-style-thead="强化表头"] table th {
    background-color: var(--b3-theme-primary) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--b3-theme-primary) !important;
}
/* 表格颜色 */
[custom-table-color="主题色"] table :is(th, td) {
    border-color: var(--b3-theme-primary) !important;
}
[custom-table-color="主题色"] table th {
    color: var(--b3-theme-primary);
}
[custom-table-color="主题色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--b3-theme-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="主题色"] table th {
    background-color: var(--b3-theme-primary) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="主题色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--b3-theme-primary) !important;
}
[custom-table-color="红色"] table :is(th, td) {
    border-color: var(--QYL-custom-red) !important;
}
[custom-table-color="红色"] table th {
    color: var(--QYL-custom-red);
}
[custom-table-color="红色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-red);
}
[custom-table-style-thead="强化表头"][custom-table-color="红色"] table th {
    background-color: var(--QYL-custom-red) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="红色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-red) !important;
}
[custom-table-color="橙色"] table :is(th, td) {
    border-color: var(--QYL-custom-orange) !important;
}
[custom-table-color="橙色"] table th {
    color: var(--QYL-custom-orange);
}
[custom-table-color="橙色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-orange);
}
[custom-table-style-thead="强化表头"][custom-table-color="橙色"] table th {
    background-color: var(--QYL-custom-orange) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="橙色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-orange) !important;
}
[custom-table-color="黄色"] table :is(th, td) {
    border-color: var(--QYL-custom-yellow) !important;
}
[custom-table-color="黄色"] table th {
    color: var(--QYL-custom-yellow);
}
[custom-table-color="黄色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-yellow);
}
[custom-table-style-thead="强化表头"][custom-table-color="黄色"] table th {
    background-color: var(--QYL-custom-yellow) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="黄色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-yellow) !important;
}
[custom-table-color="绿色"] table :is(th, td) {
    border-color: var(--QYL-custom-green) !important;
}
[custom-table-color="绿色"] table th {
    color: var(--QYL-custom-green);
}
[custom-table-color="绿色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-green);
}
[custom-table-style-thead="强化表头"][custom-table-color="绿色"] table th {
    background-color: var(--QYL-custom-green) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="绿色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-green) !important;
}
[custom-table-color="青色"] table :is(th, td) {
    border-color: var(--QYL-custom-cyan) !important;
}
[custom-table-color="青色"] table th {
    color: var(--QYL-custom-cyan);
}
[custom-table-color="青色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-cyan);
}
[custom-table-style-thead="强化表头"][custom-table-color="青色"] table th {
    background-color: var(--QYL-custom-cyan) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="青色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-cyan) !important;
}
[custom-table-color="蓝色"] table :is(th, td) {
    border-color: var(--QYL-custom-blue) !important;
}
[custom-table-color="蓝色"] table th {
    color: var(--QYL-custom-blue);
}
[custom-table-color="蓝色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-blue);
}
[custom-table-style-thead="强化表头"][custom-table-color="蓝色"] table th {
    background-color: var(--QYL-custom-blue) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="蓝色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-blue) !important;
}
[custom-table-color="紫色"] table :is(th, td) {
    border-color: var(--QYL-custom-purple) !important;
}
[custom-table-color="紫色"] table th {
    color: var(--QYL-custom-purple);
}
[custom-table-color="紫色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-purple);
}
[custom-table-style-thead="强化表头"][custom-table-color="紫色"] table th {
    background-color: var(--QYL-custom-purple) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="紫色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-purple) !important;
}
[custom-table-color="粉色"] table :is(th, td) {
    border-color: var(--QYL-custom-pink) !important;
}
[custom-table-color="粉色"] table th {
    color: var(--QYL-custom-pink);
}
[custom-table-color="粉色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-pink);
}
[custom-table-style-thead="强化表头"][custom-table-color="粉色"] table th {
    background-color: var(--QYL-custom-pink) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="粉色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-pink) !important;
}
[custom-table-color="黑色"] table :is(th, td) {
    border-color: var(--QYL-custom-black) !important;
}
[custom-table-color="黑色"] table th {
    color: var(--QYL-custom-black);
}
[custom-table-color="黑色"][custom-table-style="三线表"] table tr:last-child {
    border-color: var(--QYL-custom-black);
}
[custom-table-style-thead="强化表头"][custom-table-color="黑色"] table th {
    background-color: var(--QYL-custom-black) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="黑色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-black) !important;
}
[custom-table-color="灰色"] table :is(th, td) {
    border-color: var(--QYL-custom-gray) !important;
}
[custom-table-color="灰色"] table th {
    color: var(--QYL-custom-gray);
}
[custom-table-color="灰色"][custom-table-style="三线表"] table tr:last-child { 
    border-color: var(--QYL-custom-gray);
}
[custom-table-style-thead="强化表头"][custom-table-color="灰色"] table th {
    background-color: var(--QYL-custom-gray) !important;
    color: var(--b3-theme-on-primary);
}
[custom-table-style-thead="强化表头"][custom-table-color="灰色"][custom-table-style="三线表"] table tr:last-child {
    border-bottom: 2px solid var(--QYL-custom-gray) !important;
}
/* 全宽表格 */
[custom-table-width="全宽表格"] table {
    display: table !important;
    width: 100%;
}
/* 层次 */
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"] table th {
    --QYL-table-even-color: var(--QYL-tab-item);
    background-color: var(--QYL-table-even-color);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="红色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="红色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="红色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="红色"] table th {
    --QYL-table-even-color: var(--QYL-custom-red-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="橙色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="橙色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="橙色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="橙色"] table th {
    --QYL-table-even-color: var(--QYL-custom-orange-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="黄色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="黄色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="黄色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="黄色"] table th {
    --QYL-table-even-color: var(--QYL-custom-yellow-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="绿色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="绿色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="绿色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="绿色"] table th {
    --QYL-table-even-color: var(--QYL-custom-green-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="青色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="青色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="青色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="青色"] table th {
    --QYL-table-even-color: var(--QYL-custom-cyan-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="蓝色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="蓝色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="蓝色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="蓝色"] table th {
    --QYL-table-even-color: var(--QYL-custom-blue-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="紫色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="紫色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="紫色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="紫色"] table th {
    --QYL-table-even-color: var(--QYL-custom-purple-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="粉色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="粉色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="粉色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="粉色"] table th {
    --QYL-table-even-color: var(--QYL-custom-pink-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="黑色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="黑色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="黑色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="黑色"] table th {
    --QYL-table-even-color: var(--QYL-custom-black-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="灰色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="灰色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="灰色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="灰色"] table th {
    --QYL-table-even-color: var(--QYL-custom-gray-background);
}
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="主题色"] table tr:nth-child(even) td,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="主题色"] table tr:nth-child(even) td,
.protyle-wysiwyg [data-node-id][custom-table-even-color="层次"][custom-table-color="主题色"] table th,
.protyle-wysiwyg[data-node-id][custom-table-even-color="层次"][custom-table-color="主题色"] table th {
    --QYL-table-even-color: var(--QYL-tab-item);
}
/* 圆角 */
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"] table {
    border-radius: 12px;
    border: 1px solid var(--b3-theme-on-background);
    & thead th {
        border-top: none;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
    }
    & tbody tr {
        & td:first-child {
            border-left: none;
        }
        & td:last-child {
            border-right: none;
        }
        &:last-child {
            & td {
                border-bottom: none;
            }
        }
    }
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-width="全宽表格"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-width="全宽表格"] table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-width: 1.5px !important;
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="红色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="红色"] table {
    border: 1px solid var(--QYL-custom-red);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="橙色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="橙色"] table {
    border: 1px solid var(--QYL-custom-orange);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="黄色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="黄色"] table {
    border: 1px solid var(--QYL-custom-yellow);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="绿色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="绿色"] table {
    border: 1px solid var(--QYL-custom-green);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="青色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="青色"] table {
    border: 1px solid var(--QYL-custom-cyan);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="蓝色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="蓝色"] table {
    border: 1px solid var(--QYL-custom-blue);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="紫色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="紫色"] table {
    border: 1px solid var(--QYL-custom-purple);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="粉色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="粉色"] table {
    border: 1px solid var(--QYL-custom-pink);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="黑色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="黑色"] table {
    border: 1px solid var(--QYL-custom-black);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="灰色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="灰色"] table {
    border: 1px solid var(--QYL-custom-gray);
}
.protyle-wysiwyg [data-node-id][custom-table-style="圆角"][custom-table-color="主题色"] table,
.protyle-wysiwyg[data-node-id][custom-table-style="圆角"][custom-table-color="主题色"] table {
    border: 1px solid var(--b3-theme-primary);
}