:is([data-theme-mode="light"], [data-theme-mode="dark"]) {
    .custom-attr__avvalue .b3-chip[style*="color1)"], 
    .av__cell .b3-chip[style*="color1)"], 
    .av__panel .b3-chip[style*="color1)"], 
    [data-name="av-col-option"] .color__square[style*="color1)"], 
    .b3-menu__label .b3-chip[data-color="1"] {
        color: var(--b3-font-color1) !important;
        background-color: var(--b3-font-background1) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color2)"], 
    .av__cell .b3-chip[style*="color2)"], 
    .av__panel .b3-chip[style*="color2)"], 
    [data-name="av-col-option"] .color__square[style*="color2)"], 
    .b3-menu__label .b3-chip[data-color="2"] {
        color: var(--b3-font-color2) !important;
        background-color: var(--b3-font-background2) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color3)"], 
    .av__cell .b3-chip[style*="color3)"], 
    .av__panel .b3-chip[style*="color3)"], 
    [data-name="av-col-option"] .color__square[style*="color3)"], 
    .b3-menu__label .b3-chip[data-color="3"] {
        color: var(--b3-font-color3) !important;
        background-color: var(--b3-font-background3) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color4)"], 
    .av__cell .b3-chip[style*="color4)"], 
    .av__panel .b3-chip[style*="color4)"], 
    [data-name="av-col-option"] .color__square[style*="color4)"], 
    .b3-menu__label .b3-chip[data-color="4"] {
        color: var(--b3-font-color4) !important;
        background-color: var(--b3-font-background4) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color5)"], 
    .av__cell .b3-chip[style*="color5)"], 
    .av__panel .b3-chip[style*="color5)"], 
    [data-name="av-col-option"] .color__square[style*="color5)"], 
    .b3-menu__label .b3-chip[data-color="5"] {
        color: var(--b3-font-color5) !important;
        background-color: var(--b3-font-background5) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color6)"], 
    .av__cell .b3-chip[style*="color6)"], 
    .av__panel .b3-chip[style*="color6)"], 
    [data-name="av-col-option"] .color__square[style*="color6)"], 
    .b3-menu__label .b3-chip[data-color="6"] {
        color: var(--b3-font-color6) !important;
        background-color: var(--b3-font-background6) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color7)"], 
    .av__cell .b3-chip[style*="color7)"], 
    .av__panel .b3-chip[style*="color7)"], 
    [data-name="av-col-option"] .color__square[style*="color7)"], 
    .b3-menu__label .b3-chip[data-color="7"] {
        color: var(--b3-font-color7) !important;
        background-color: var(--b3-font-background7) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color8)"], 
    .av__cell .b3-chip[style*="color8)"], 
    .av__panel .b3-chip[style*="color8)"], 
    [data-name="av-col-option"] .color__square[style*="color8)"], 
    .b3-menu__label .b3-chip[data-color="8"] {
        color: var(--b3-font-color8) !important;
        background-color: var(--b3-font-background8) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color9)"], 
    .av__cell .b3-chip[style*="color9)"], 
    .av__panel .b3-chip[style*="color9)"], 
    [data-name="av-col-option"] .color__square[style*="color9)"], 
    .b3-menu__label .b3-chip[data-color="9"] {
        color: var(--b3-font-color9) !important;
        background-color: var(--b3-font-background9) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color10)"], 
    .av__cell .b3-chip[style*="color10)"], 
    .av__panel .b3-chip[style*="color10)"], 
    [data-name="av-col-option"] .color__square[style*="color10)"], 
    .b3-menu__label .b3-chip[data-color="10"] {
        color: var(--b3-font-color10) !important;
        background-color: var(--b3-font-background10) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color11)"], 
    .av__cell .b3-chip[style*="color11)"], 
    .av__panel .b3-chip[style*="color11)"], 
    [data-name="av-col-option"] .color__square[style*="color11)"], 
    .b3-menu__label .b3-chip[data-color="11"] {
        color: var(--b3-font-color11) !important;
        background-color: var(--b3-font-background11) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color12)"], 
    .av__cell .b3-chip[style*="color12)"], 
    .av__panel .b3-chip[style*="color12)"], 
    [data-name="av-col-option"] .color__square[style*="color12)"], 
    .b3-menu__label .b3-chip[data-color="12"] {
        color: var(--b3-font-color12) !important;
        background-color: var(--b3-font-background12) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color13)"], 
    .av__cell .b3-chip[style*="color13)"], 
    .av__panel .b3-chip[style*="color13)"], 
    [data-name="av-col-option"] .color__square[style*="color13)"], 
    .b3-menu__label .b3-chip[data-color="13"] {
        color: var(--b3-font-color13) !important;
        background-color: var(--b3-font-background13) !important;
        border: none !important;
    }
    .custom-attr__avvalue .b3-chip[style*="color14)"], 
    .av__cell .b3-chip[style*="color14)"], 
    .av__panel .b3-chip[style*="color14)"], 
    [data-name="av-col-option"] .color__square[style*="color14)"], 
    .b3-menu__label .b3-chip[data-color="14"] {
        color: var(--b3-font-color14) !important;
        background-color: var(--b3-font-background14) !important;
        border: none !important;
    }
}