.b3-menu__item--show {
    background-color: var(--b3-theme-primary-fix, var(--b3-theme-primary));
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked) {
        color: var(--b3-theme-on-primary);
        & > .b3-menu__icon {
            color: var(--b3-theme-on-primary);
        }
    }
    & > :is(.b3-switch:checked) {
        filter: brightness(0.9);
        outline: 0.5px solid var(--b3-theme-on-primary);
    }
    &.b3-menu__item--warning {
        background-color: var(--b3-theme-error);
    }
}
.b3-menu__item--current:not(.b3-menu__item--readonly) {
    background-color: var(--b3-theme-primary-fix, var(--b3-theme-primary));
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked) {
        color: var(--b3-theme-on-primary);
        & > .b3-menu__icon {
            color: var(--b3-theme-on-primary);
        }
    }
    & > :is(.b3-switch:checked) {
        filter: brightness(0.9);
        outline: 0.5px solid var(--b3-theme-on-primary);
    }
    &.b3-menu__item--warning {
        background-color: var(--b3-theme-error);
    }
}
.secondaryToolbarButton:hover {
    background-color: var(--b3-theme-primary-fix, var(--b3-theme-primary));
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked) {
        color: var(--b3-theme-on-primary);
    }
}
.pdf__util .b3-menu__item:hover {
    background-color: var(--b3-theme-primary-fix, var(--b3-theme-primary));
    & .b3-menu__icon, .b3-menu__label, .b3-menu__accelerator {
        color: var(--b3-theme-on-primary);
        & > .b3-menu__icon {
            color: var(--b3-theme-on-primary);
        }
    }
    & > :is(.b3-switch:checked) {
        filter: brightness(0.9);
        outline: 0.5px solid var(--b3-theme-on-primary);
    }
    &[data-type="remove"] {
        background-color: var(--b3-theme-error);
    }
}
.av__panel .b3-menu__item:not([data-type=nobg]):hover, .av__panel .b3-menu__item--current:not([data-type=nobg]) {
    background-color: var(--b3-theme-primary-fix, var(--b3-theme-primary));
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked, .fn__flex-center) {
        color: var(--b3-theme-on-primary);
        & > .b3-menu__icon {
            color: var(--b3-theme-on-primary);
        }
    }
    & > :is(.b3-switch:checked) {
        filter: brightness(0.9);
        outline: 0.5px solid var(--b3-theme-on-primary);
    }
    &[data-type="removeCol"] {
        background-color: var(--b3-theme-error);
    }
}
/* 代码片段管理器插件 */
#commonMenu[data-name=PluginSnippets] .jcsm-snippets-container .jcsm-snippet-item {
    &.b3-menu__item--current, &:hover {
        & .jcsm-snippet-name {
            color: var(--b3-theme-on-primary) !important;
        }
        & .block__icon {
            color: var(--b3-theme-on-primary) !important;
            &:hover {
                color: var(--b3-theme-primary) !important;
                background-color: var(--b3-theme-on-primary) !important;
            }
        }
    }
    &[data-type=new] {
        color: var(--b3-theme-on-primary) !important;
    }
}