.b3-menu__item:not([data-type="nobg"], [data-type="addColOptionOrCell"], [data-color]):hover,
.b3-menu__item--show:not([data-type="nobg"], [data-type="addColOptionOrCell"], [data-color]),
.b3-menu__item--current:not(.b3-menu__item--readonly):not([data-type="nobg"], [data-type="addColOptionOrCell"], [data-color]) {
    background-color: var(--b3-theme-primary) !important;
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked, .fn__flex-center) {
        color: var(--b3-theme-on-primary) !important;
        & > .b3-menu__icon {
            color: var(--b3-theme-on-primary) !important;
        }
    }
    & > :is(.b3-switch:checked) {
        filter: brightness(0.9);
        outline: 0.5px solid var(--b3-theme-on-primary);
    }
    &:is(.b3-menu__item--warning, [data-type="remove"], [data-type="delete-view"]) {
        background-color: var(--b3-theme-error) !important;
    }
}
/* 代码片段管理器插件 */
#commonMenu[data-name=PluginSnippets] .jcsm-snippets-container .jcsm-snippet-item {
    &.b3-menu__item--current, &:hover {
        & .jcsm-snippet-name {
            color: var(--b3-theme-on-primary) !important;
        }
        & .block__icon {
            color: var(--b3-theme-on-primary) !important;
            &:hover {
                color: var(--b3-theme-primary) !important;
                background-color: var(--b3-theme-on-primary) !important;
            }
        }
    }
    &[data-type=new] {
        color: var(--b3-theme-on-primary) !important;
    }
}