html{
    & :is(.sy__outline, .QYLmobile [data-type="sidebar-outline"]) {
        & .b3-list-item {
            & .b3-list-item__graphic {
                opacity: 0;
            }
            & .b3-list-item__text {
                &::before{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-52%);
                    z-index: 0;
                    opacity: 0.5;
                    font-family: SF Pro;
                    font-size: 1em;
                }
                &:is([data-theme-mode="dark"] .b3-list-item__text) {
                    &::before {
                        opacity: 0.7;
                    }
                }
            }
        }
        & > .fn__flex-1 > .b3-list--background {
            & > .b3-list-item {
                & .b3-list-item__text {
                    &::before{
                        content: '❶';
                        left: 24px;
                    }
                }
            }
            & > ul {
                & > .b3-list-item {
                    & .b3-list-item__text {
                        &::before{
                            content: '❷';
                            left: 42px;
                        }
                    }
                }
                & > ul {
                    & > .b3-list-item {
                        & .b3-list-item__text {
                            &::before{
                                content: '❸';
                                left: 60px;
                            }
                        }
                    }
                    & > ul {
                        & > .b3-list-item {
                            & .b3-list-item__text {
                                &::before{
                                    content: '❹';
                                    left: 78px;
                                }
                            }
                        }
                        & > ul {
                            & > .b3-list-item {
                                & .b3-list-item__text {
                                    &::before{
                                        content: '❺';
                                        left: 96px;
                                    }
                                }
                            }
                            & > ul {
                                & > .b3-list-item {
                                    & .b3-list-item__text {
                                        &::before{
                                            content: '❻';
                                            left: 112px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}