        /* 动画效果 */
/* 弹出动画 */
@keyframes QYLpopout {
    0%,10% {
        opacity: 0;
        transform: none
    }

    10% {
        transform: scale(0.9)
    }

    90%,100% {
        opacity: 1
    }

    100% {
        transform: none
    }
}
@keyframes QYLpopout2 {
    0%,10% {
        opacity: 1;
        transform: none
    }

    10% {
        transform: scale(0.9)
    }

    90%,100% {
        opacity: 1
    }

    100% {
        transform: none
    }
}
@keyframes QYLpopout3 {
    0%,10% {
        opacity: 1;
        transform: none
    }

    10% {
        transform: scale(0.85)
    }

    90%,100% {
        opacity: 1
    }

    100% {
        transform: none
    }
}
/* 右弹动画 */
@keyframes QYLbounceRight {
    00% {
        transform: translateX(-100%);
    }
    30% {
        transform: translateX(10%);
    }
    70% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes QYLbounceRight2 {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
/* 页签动画 */
.layout__center :not(.av__views) > .layout-tab-bar .item {
    animation: QYLbounceRight 0.5s;
}
/* 斜杠菜单动画 */
.protyle-hint.hint--menu .b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 编辑器工具栏动画 */
.protyle-toolbar button, .protyle-hint .b3-list-item{
    animation: QYLbounceRight2 0.15s;
}
/* 侧栏图标动画 */
.block__logo {
    animation: QYLbounceRight 0.5s;
}
/* 集市卡片动画 */
.config-bazaar__panel .b3-card {
    animation: QYLbounceRight2 0.2s;
}
.config-bazaar__panel .b3-card:hover {
    transform: scale(1.02);
}
.config__tab-wrap > div {
    animation: QYLbounceRight2 0.2s;
}
/* 自定义属性面板动画 */
.b3-dialog__body .custom-attr {
    animation: QYLbounceRight2 0.2s;
}
/* 搜索面板动画 */
:is(#searchList, #searchAssetList, #searchUnRefList) .b3-list-item {
    animation: QYLbounceRight2 0.2s;
}
/* 弹出文档动画 */
body > div.block__popover.block__popover--open {
    animation: QYLpopout 0.2s;
}
/* 退出聚焦按钮动画 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    animation: QYLbounceRight 0.5s;
}
/* 文档标题动画 */
.protyle-title__input {
    animation: QYLbounceRight2 0.2s;
    color: var(--b3-theme-primary);
}
/* 资源图片预览动画 */
#preview > * {
    animation: QYLpopout2 0.2s;
}
#preview > * {
    border-radius: var(--b3-border-radius);
}
/* 菜单内动画 */
.b3-menu .b3-menu__item {
    animation: QYLbounceRight2 0.1s;
}
#commonMenu .b3-list-item {
    animation: QYLbounceRight2 0.1s;
}
/* 闪卡动画 */
[data-key="dialog-viewcards"] .fn__flex-1.b3-list div[data-type="card-item"] {
    animation: QYLbounceRight2 0.15s;
}
/* 同步面板动画 */
[data-key="dialog-syncchoosedirection"] .b3-dialog__content .fn__flex.b3-label {
    animation: QYLbounceRight2 0.15s;
}
/* 命令面板动画 */
[data-key="dialog-commandpanel"] .search__list .b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 数据历史动画 */
[data-key="dialog-history"] :is(.history__side, [data-type="notebook"], [data-type="repo"] ) .b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 最近的文档动画 */
[data-key="dialog-recentdocs"] .b3-list.b3-list--background .b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 闪卡内文档树动画 */
[data-key="dialog-movepathto"] #foldTree li.b3-list-item {
    animation: QYLbounceRight2 0.15s;
}
/* 代码片段面板动画 */
[data-key="dialog-snippets"] :is([data-type="js"], [data-type="css"]) .fn__flex input[type="text"] {
    animation: QYLbounceRight2 0.1s;
}
[data-key="dialog-snippets"] :is([data-type="js"], [data-type="css"]) .fn__block.b3-text-field {
    animation: QYLbounceRight2 0.1s;
}
/* 页签悬浮闪光 */
.layout-tab-bar .item:not(.layout-tab-bar .item--readonly) {
    --translate-offset: 220%;
    &:before {
        content: "";
        background-color: rgba(255,255,255,0.8);
        height: 100%;
        width: 30%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: skewX(-45deg) translateX(calc(-1 * var(--translate-offset)));
    }
    &:hover {
      &::before {
          transition: 0.4s cubic-bezier(0.8, 0, 0.9, 1);
          transform: skewX(-45deg) translateX(calc(var(--translate-offset) + 270%));
      }
    }
}
:is(.b3-button,.b3-chip--pink)::before {
    display: block !important;
}
#barWorkspace::before {
    display: block !important;
}
/* 旋转动画 */
@keyframes QYLspin {
    0% { 
        transform: rotate(0deg) scale(1);
      }
      50% {
        transform: rotate(190deg) scale(1.2);
      }
      70% {
        transform: rotate(340deg) scale(0.95);
      }
      100% {
        transform: rotate(360deg) scale(1);
      }
}
.protyle-wysiwyg [data-node-id][data-subtype="o"].li:hover>.protyle-action {
    animation: QYLspin 0.15s linear;
}
/* 超链接动效 */
.protyle-wysiwyg [data-node-id] span[data-type~=a] {
    background-image: linear-gradient(to right, var(--QYL-link) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
        color: var(--QYL-white);
        background-position: 0 0;
        border-bottom: 0.5px solid;
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext) {
    background-image: linear-gradient(to right, var(--QYL-ref) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
        color: var(--QYL-white);
        background-position: 0 0;
        border-bottom: 0.5px solid;
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref] {
    background-image: linear-gradient(to right, var(--QYL-PDFmark) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
        color: var(--QYL-white);
        background-position: 0 0;
        border-bottom: 0.5px solid;
    }
}
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-image: linear-gradient(to right, var(--b3-theme-primary) 50%, var(--QYL-hover) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
    &:hover {
        transition: 0.3s cubic-bezier(0.8, 0, 0.9, 1);
        color: var(--QYL-white);
        background-position: 0 0;
    }
}
/* 列表辅助线 */
@keyframes QYLlihelpenter {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.05);
      opacity: 1;
    }
    70% {
      transform: scale(0.95);
    }
    85% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
}
.en_item_bullet_line:not(.protyle-wysiwyg--select)::after {
    animation: QYLlihelpenter 0.4s cubic-bezier(0.8, 0, 0.9, 1);
}
/* 背景光效动画 */
@keyframes QYLglow {
    from {
        background-position: 100% 0;
      }
      to {
        background-position: -100% 0;
      }
}
@keyframes QYLtaskenter1 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    70% {
      transform: scale(0.9);
    }
    85% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes QYLtaskenter2 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    70% {
      transform: scale(0.9);
    }
    85% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}
.protyle-wysiwyg [data-node-id][data-subtype="t"].li.protyle-task--done {
    background-image: linear-gradient(105deg,transparent 25%,var(--b3-theme-primary-lighter) 40%,var(--b3-theme-primary-lighter) 60%,transparent 75%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    animation: QYLglow 1s cubic-bezier(0.9, 0, 0.5, 1) forwards;
    & > .protyle-action--task {
        animation: QYLtaskenter1 0.6s cubic-bezier(0.8, 0, 0.9, 1);
    }
}
.protyle-wysiwyg [data-node-id][data-subtype="t"].li:not(.protyle-task--done) {
    & > .protyle-action--task {
        animation: QYLtaskenter2 0.6s cubic-bezier(0.8, 0, 0.9, 1);
    }
}
/* 分割线动效 */
@keyframes QYLhrenter {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
.protyle-wysiwyg [data-node-id].hr {
    animation: QYLhrenter 0.3s cubic-bezier(0.9, 0, 0.5, 1);
}
/* 块标 */
.protyle-gutters {
    animation: QYLtaskenter1 0.6s cubic-bezier(0.8, 0, 0.9, 1);
}