/* 彩色多级标题 */
:is(.b3-typography, .protyle-wysiwyg) :is(.h1, h1)>[spellcheck]:not(:empty), .b3-typography :is(.h1, h1) { color: var(--QYL-h1); }
:is(.b3-typography, .protyle-wysiwyg) :is(.h2, h2)>[spellcheck]:not(:empty), .b3-typography :is(.h2, h2) { color: var(--QYL-h2); }
:is(.b3-typography, .protyle-wysiwyg) :is(.h3, h3)>[spellcheck]:not(:empty), .b3-typography :is(.h3, h3) { color: var(--QYL-h3); }
:is(.b3-typography, .protyle-wysiwyg) :is(.h4, h4)>[spellcheck]:not(:empty), .b3-typography :is(.h4, h4) { color: var(--QYL-h4); }
:is(.b3-typography, .protyle-wysiwyg) :is(.h5, h5)>[spellcheck]:not(:empty), .b3-typography :is(.h5, h5) { color: var(--QYL-h5); }
:is(.b3-typography, .protyle-wysiwyg) :is(.h6, h6)>[spellcheck]:not(:empty), .b3-typography :is(.h6, h6) { color: var(--QYL-h6); }

/* 标题折叠 */
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading]::before {
    display: none;
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h1>[spellcheck]:not(:empty) {
    color: var(--QYL-h1-fold);
    border-top: 2px solid var(--QYL-h1-fold);
    border-bottom: 2px solid var(--QYL-h1-fold);
    background-color: var(--QYL-h1-fold-background);
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h2>[spellcheck]:not(:empty) {
    color: var(--QYL-h2-fold);
    border-top: 2px solid var(--QYL-h2-fold);
    border-bottom: 2px solid var(--QYL-h2-fold);
    background-color: var(--QYL-h2-fold-background);
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h3>[spellcheck]:not(:empty) {
    color: var(--QYL-h3-fold);
    border-top: 2px solid var(--QYL-h3-fold);
    border-bottom: 2px solid var(--QYL-h3-fold);
    background-color: var(--QYL-h3-fold-background);
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h4>[spellcheck]:not(:empty) {
    color: var(--QYL-h4-fold);
    border-top: 2px solid var(--QYL-h4-fold);
    border-bottom: 2px solid var(--QYL-h4-fold);
    background-color: var(--QYL-h4-fold-background);
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h5>[spellcheck]:not(:empty) {
    color: var(--QYL-h5-fold);
    border-top: 2px solid var(--QYL-h5-fold);
    border-bottom: 2px solid var(--QYL-h5-fold);
    background-color: var(--QYL-h5-fold-background);
}
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"].h6>[spellcheck]:not(:empty) {
    color: var(--QYL-h6-fold);
    border-top: 2px solid var(--QYL-h6-fold);
    border-bottom: 2px solid var(--QYL-h6-fold);
    background-color: var(--QYL-h6-fold-background);
}
.protyle-title__input {
    color: var(--b3-theme-primary);
}