/* 自定义块属性h-style */
[custom-h-style="多彩"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"]):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="多彩"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty),
[custom-h-style="colorful"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="colorful"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty)    {
    background: -webkit-linear-gradient(135deg,#0eaf6d,#ff6ac6 25%,#147b96 50%,#e6d205 55%,#2cc4e0 60%,#8b2ce0 80%,#ff6384 95%,#08dfb4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: hcolorful 8s infinite linear;
}
@keyframes hcolorful {
    0% { background-position: 0 0; }
    100% { background-position: -400% 0; }
}
[custom-h-style="金箔"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="金箔"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty),
[custom-h-style="gold"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="gold"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty) {
    background-image: url('../img/金箔.png') !important;  
    -webkit-background-clip: text !important; 
    color: transparent !important;
    background-size: contain !important;
    caret-color: gold;
}
[custom-h-style="下划线"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="下划线"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty),
[custom-h-style="underline"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="underline"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty) {
    border-bottom: 3px solid;
}
[custom-h-style="层级"].h1>[spellcheck]:not(:empty)::after, [custom-h-style="层级"] .h1>[spellcheck]:not(:empty)::after,
[custom-h-style="level"].h1>[spellcheck]:not(:empty)::after, [custom-h-style="level"] .h1>[spellcheck]:not(:empty)::after {
    content: "";
    position: absolute;
    top: 19px;
    width: 18px;
    height: 18px;
    background-color: var(--QYL-h1-fold);
    mask: url('../img/一级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/一级标题.svg') no-repeat center / contain;
    pointer-events: none;
}
[custom-h-style="层级"].h2>[spellcheck]:not(:empty)::after, [custom-h-style="层级"] .h2>[spellcheck]:not(:empty)::after,
[custom-h-style="level"].h2>[spellcheck]:not(:empty)::after, [custom-h-style="level"] .h2>[spellcheck]:not(:empty)::after  {
    content: "";
    position: absolute;
    top: 17px;
    width: 16px;
    height: 16px;
    background-color: var(--QYL-h2-fold);
    mask: url('../img/二级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/二级标题.svg') no-repeat center / contain;
}
[custom-h-style="层级"].h3>[spellcheck]:not(:empty)::after, [custom-h-style="层级"] .h3>[spellcheck]:not(:empty)::after,
[custom-h-style="level"].h3>[spellcheck]:not(:empty)::after, [custom-h-style="level"] .h3>[spellcheck]:not(:empty)::after  {
    content: "";
    position: absolute;
    top: 15px;
    width: 14px;
    height: 14px;
    background-color: var(--QYL-h3-fold);
    mask: url('../img/三级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/三级标题.svg') no-repeat center / contain;
}
[custom-h-style="层级"].h4>[spellcheck]:not(:empty)::after, [custom-h-style="层级"] .h4>[spellcheck]:not(:empty)::after,
[custom-h-style="level"].h4>[spellcheck]:not(:empty)::after, [custom-h-style="level"] .h4>[spellcheck]:not(:empty)::after  {
    content: "";
    position: absolute;
    top: 14px;
    width: 14px;
    height: 14px;
    background-color: var(--QYL-h4-fold);
    mask: url('../img/四级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/四级标题.svg') no-repeat center / contain;
}
[custom-h-style="层级"].h5>[spellcheck]:not(:empty)::after, [custom-h-style="层级"] .h5>[spellcheck]:not(:empty)::after,
[custom-h-style="level"].h5>[spellcheck]:not(:empty)::after, [custom-h-style="level"] .h5>[spellcheck]:not(:empty)::after  {
    content: "";
    position: absolute;
    top: 13px;
    width: 12px;
    height: 12px;
    background-color: var(--QYL-h5-fold);
    mask: url('../img/五级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/五级标题.svg') no-repeat center / contain;
}
[custom-h-style="层级"].h6>[spellcheck]:not(:empty)::after, [custom-h-style="层级"] .h6>[spellcheck]:not(:empty)::after,
[custom-h-style="level"].h6>[spellcheck]:not(:empty)::after, [custom-h-style="level"] .h6>[spellcheck]:not(:empty)::after  {
    content: "";
    position: absolute;
    top: 12px;
    width: 10px;
    height: 10px;
    background-color: var(--QYL-h6-fold);
    mask: url('../img/六级标题.svg') no-repeat center / contain;
    -webkit-mask: url('../img/六级标题.svg') no-repeat center / contain;
}
[custom-h-style="左边框"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="左边框"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty),
[custom-h-style="left border"]:is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty), [custom-h-style="left border"] :is(.h1, .h2, .h3, .h4, .h5, .h6):not([fold="1"])>[spellcheck]:not(:empty) {
    border-radius: 0px;
    padding-left: 8px;
    border-left: 8px solid;
}