/*************************************************** 排版元素 ***************************************************/
/* 引述块callout */
.protyle-wysiwyg blockquote[custom-bq-callout="启用"], .protyle-wysiwyg .bq[custom-bq-callout="启用"] {
        padding: 4px 6px 0 6px;
        border: 3px solid  var(--b3-theme-primary);
        border-radius: var(--b3-border-radius);
        color: unset;
        &>[data-node-id]:first-child {
            border-radius: 0;
            background-color: var(--b3-theme-primary);
            color: var(--QYL-white);
            margin: -5px -6px 0 -6px;
            padding: 6px 10px;
        }
        &::before {
            display: none;
        }
        &[custom-bq-callout-color="红色"] {
            background-color: var(--QYL-custom-red-background);
            border-color: var(--QYL-custom-red);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-red);
            }
        }
        &[custom-bq-callout-color="橙色"] {
            background-color: var(--QYL-custom-orange-background);
            border-color: var(--QYL-custom-orange);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-orange);
            }
        }
        &[custom-bq-callout-color="黄色"] {
            background-color: var(--QYL-custom-yellow-background);
            border-color: var(--QYL-custom-yellow);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-yellow);
            }
        }
        &[custom-bq-callout-color="绿色"] {
            background-color: var(--QYL-custom-green-background);
            border-color: var(--QYL-custom-green);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-green);
            }
        }
        &[custom-bq-callout-color="青色"] {
            background-color: var(--QYL-custom-cyan-background);
            border-color: var(--QYL-custom-cyan);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-cyan);
            }
        }
        &[custom-bq-callout-color="蓝色"] {
            background-color: var(--QYL-custom-blue-background);
            border-color: var(--QYL-custom-blue);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-blue);
            }
        }
        &[custom-bq-callout-color="紫色"] {
            background-color: var(--QYL-custom-purple-background);
            border-color: var(--QYL-custom-purple);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-purple);
            }
        }
        &[custom-bq-callout-color="粉色"] {
            background-color: var(--QYL-custom-pink-background);
            border-color: var(--QYL-custom-pink);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-pink);
            }
        }
        &[custom-bq-callout-color="黑色"] {
            background-color: var(--QYL-custom-black-background);
            border-color: var(--QYL-custom-black);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-black);
            }
        }
        &[custom-bq-callout-color="灰色"] {
            background-color: var(--QYL-custom-gray-background);
            border-color: var(--QYL-custom-gray);
            &>[data-node-id]:first-child {
                background-color: var(--QYL-custom-gray);
            }
        }
        &[fold="1"] {
            border: none;
            opacity: 0.5 !important;
            height: 40px !important;
            padding: 5px 10px !important;
            background-color: var(--b3-theme-primary);
            &[custom-bq-callout-color="红色"] {
                background-color: var(--QYL-custom-red);
            }
            &[custom-bq-callout-color="橙色"] {
                background-color: var(--QYL-custom-orange);
            }
            &[custom-bq-callout-color="黄色"] {
                background-color: var(--QYL-custom-yellow);
            }
            &[custom-bq-callout-color="绿色"] {
                background-color: var(--QYL-custom-green);
            }
            &[custom-bq-callout-color="青色"] {
                background-color: var(--QYL-custom-cyan);
            }
            &[custom-bq-callout-color="蓝色"] {
                background-color: var(--QYL-custom-blue);
            }
            &[custom-bq-callout-color="紫色"] {
                background-color: var(--QYL-custom-purple);
            }
            &[custom-bq-callout-color="粉色"] {
                background-color: var(--QYL-custom-pink);
            }
            &[custom-bq-callout-color="黑色"] {
                background-color: var(--QYL-custom-black);
            }
            &[custom-bq-callout-color="灰色"] {
                background-color: var(--QYL-custom-gray);
            }
            & >[data-node-id]:not(:first-child) {
                display: none;
            }
            & >[data-node-id]:first-child {
                opacity: 0.9 !important;
                max-height: 26px;
                font-size: 22px;
                font-style: italic;
                padding: 0 !important;
                background-color: transparent;
                transform: translateY(15px) translateX(8px);
                & >[contenteditable]>span[data-type*="strong"] {
                    filter: brightness(1.5);
                }
            }
    }
}
.protyle-wysiwyg .li > blockquote[custom-bq-callout*="启用"], .protyle-wysiwyg .li > .bq[custom-bq-callout*="启用"] {
    &>[data-node-id]:first-child {
        margin-right: 0;
        margin-top: -8px;
        top: 4px;
    }
}
.protyle-wysiwyg blockquote[custom-bq-callout="启用2"], .protyle-wysiwyg .bq[custom-bq-callout="启用2"] {
    padding: 0px 6px;
    border-left: 5px solid var(--b3-theme-primary);
    border-radius: 0;
    background-color: var(--b3-theme-primary-lightest);
    color: unset;
    &>[data-node-id]:first-child {
        border-radius: 0;
        color: var(--b3-theme-primary);
        font-weight: bold;
    }
    &::before {
        display: none;
    }
    &[custom-bq-callout-color="红色"] {
        background-color: var(--QYL-custom-red-background);
        border-color: var(--QYL-custom-red);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-red);
        }
    }
    &[custom-bq-callout-color="橙色"] {
        background-color: var(--QYL-custom-orange-background);
        border-color: var(--QYL-custom-orange);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-orange);
        }
    }
    &[custom-bq-callout-color="黄色"] {
        background-color: var(--QYL-custom-yellow-background);
        border-color: var(--QYL-custom-yellow);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-yellow);
        }
    }
    &[custom-bq-callout-color="绿色"] {
        background-color: var(--QYL-custom-green-background);
        border-color: var(--QYL-custom-green);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-green);
        }
    }
    &[custom-bq-callout-color="青色"] {
        background-color: var(--QYL-custom-cyan-background);
        border-color: var(--QYL-custom-cyan);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-cyan);
        }
    }
    &[custom-bq-callout-color="蓝色"] {
        background-color: var(--QYL-custom-blue-background);
        border-color: var(--QYL-custom-blue);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-blue);
        }
    }
    &[custom-bq-callout-color="紫色"] {
        background-color: var(--QYL-custom-purple-background);
        border-color: var(--QYL-custom-purple);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-purple);
        }
    }
    &[custom-bq-callout-color="粉色"] {
        background-color: var(--QYL-custom-pink-background);
        border-color: var(--QYL-custom-pink);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-pink);
        }
    }
    &[custom-bq-callout-color="黑色"] {
        background-color: var(--QYL-custom-black-background);
        border-color: var(--QYL-custom-black);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-black);
        }
    }
    &[custom-bq-callout-color="灰色"] {
        background-color: var(--QYL-custom-gray-background);
        border-color: var(--QYL-custom-gray);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-gray);
        }
    }
    &[fold="1"] {
        border-radius: var(--b3-border-radius);
        &[custom-bq-callout-color="红色"] {
            background-color: var(--QYL-custom-red);
        }
        &[custom-bq-callout-color="橙色"] {
            background-color: var(--QYL-custom-orange);
        }
        &[custom-bq-callout-color="黄色"] {
            background-color: var(--QYL-custom-yellow);
        }
        &[custom-bq-callout-color="绿色"] {
            background-color: var(--QYL-custom-green);
        }
        &[custom-bq-callout-color="青色"] {
            background-color: var(--QYL-custom-cyan);
        }
        &[custom-bq-callout-color="蓝色"] {
            background-color: var(--QYL-custom-blue);
        }
        &[custom-bq-callout-color="紫色"] {
            background-color: var(--QYL-custom-purple);
        }
        &[custom-bq-callout-color="粉色"] {
            background-color: var(--QYL-custom-pink);
        }
        &[custom-bq-callout-color="黑色"] {
            background-color: var(--QYL-custom-black);
        }
        &[custom-bq-callout-color="灰色"] {
            background-color: var(--QYL-custom-gray);
        }
        & >[data-node-id]:not(:first-child) {
            display: none;
        }
        & >[data-node-id]:first-child {
            opacity: 0.9 !important;
            max-height: 26px;
            font-size: 22px;
            font-style: italic;
            color: var(--QYL-white);
            background-color: transparent;
            transform: translateY(10px) translateX(8px);
            & >[contenteditable]>span[data-type*="strong"] {
                filter: brightness(1.5);
            }
        }
    }
}

.protyle-wysiwyg blockquote[custom-bq-callout="启用3"], .protyle-wysiwyg .bq[custom-bq-callout="启用3"] {
    padding: 0px 6px;
    border-left: 5px solid var(--b3-theme-primary);
    border-radius: 0;
    background-color: var(--b3-theme-background);
    color: unset;
    overflow: visible;
    & + [custom-bq-callout="启用3"] {
        margin-top: -2px;
    }
    &>[data-node-id]:first-child {
        border-radius: 0;
        color: var(--b3-theme-primary);
        font-weight: bold;
        & [contenteditable][spellcheck] {
            text-indent: calc(1em - 16px);
        }
        &::before {
            content: "";
            position: absolute;
            width: 0.8em;
            height: 0.8em;
            top: 45%;
            transform: translateY(-45%);
            left: calc(-8px - 0.4em);
            border-radius: 50%;
            background-color: var(--b3-theme-background);
            box-shadow: 0 0 0 0.2em var(--b3-theme-primary);
        }
    }
    &::before {
        display: none;
    }
    &[custom-bq-callout-color="红色"] {
        border-color: var(--QYL-custom-red);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-red);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-red);
            }
        }
    }
    &[custom-bq-callout-color="橙色"] {
        border-color: var(--QYL-custom-orange);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-orange);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-orange);
            }
        }
    }
    &[custom-bq-callout-color="黄色"] {
        border-color: var(--QYL-custom-yellow);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-yellow);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-yellow);
            }
        }
    }
    &[custom-bq-callout-color="绿色"] {
        border-color: var(--QYL-custom-green);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-green);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-green);
            }
        }
    }
    &[custom-bq-callout-color="青色"] {
        border-color: var(--QYL-custom-cyan);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-cyan);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-cyan);
            }
        }
    }
    &[custom-bq-callout-color="蓝色"] {
        border-color: var(--QYL-custom-blue);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-blue);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-blue);
            }
        }
    }
    &[custom-bq-callout-color="紫色"] {
        border-color: var(--QYL-custom-purple);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-purple);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-purple);
            }
        }
    }
    &[custom-bq-callout-color="粉色"] {
        border-color: var(--QYL-custom-pink);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-pink);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-pink);
            }
        }
    }
    &[custom-bq-callout-color="黑色"] {
        border-color: var(--QYL-custom-black);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-black);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-black);
            }
        }
    }
    &[custom-bq-callout-color="灰色"] {
        border-color: var(--QYL-custom-gray);
        &>[data-node-id]:first-child {
            color: var(--QYL-custom-gray);
            &::before {
                box-shadow: 0 0 0 0.2em var(--QYL-custom-gray);
            }
        }
    }
    &[fold="1"] {
        border-radius: var(--b3-border-radius);
        background-color: var(--b3-theme-primary);
        &[custom-bq-callout-color="红色"] {
            background-color: var(--QYL-custom-red);
        }
        &[custom-bq-callout-color="橙色"] {
            background-color: var(--QYL-custom-orange);
        }
        &[custom-bq-callout-color="黄色"] {
            background-color: var(--QYL-custom-yellow);
        }
        &[custom-bq-callout-color="绿色"] {
            background-color: var(--QYL-custom-green);
        }
        &[custom-bq-callout-color="青色"] {
            background-color: var(--QYL-custom-cyan);
        }
        &[custom-bq-callout-color="蓝色"] {
            background-color: var(--QYL-custom-blue);
        }
        &[custom-bq-callout-color="紫色"] {
            background-color: var(--QYL-custom-purple);
        }
        &[custom-bq-callout-color="粉色"] {
            background-color: var(--QYL-custom-pink);
        }
        &[custom-bq-callout-color="黑色"] {
            background-color: var(--QYL-custom-black);
        }
        &[custom-bq-callout-color="灰色"] {
            background-color: var(--QYL-custom-gray);
        }
        & >[data-node-id]:not(:first-child) {
            display: none;
        }
        & >[data-node-id]:first-child {
            opacity: 0.9 !important;
            max-height: 26px;
            font-size: 22px;
            font-style: italic;
            color: var(--QYL-white);
            background-color: transparent;
            transform: translateY(10px) translateX(8px);
            & >[contenteditable]>span[data-type*="strong"] {
                filter: brightness(1.5);
            }
        }
    }
}
#preview .protyle-wysiwyg blockquote[custom-bq-callout="启用3"], #preview .protyle-wysiwyg .bq[custom-bq-callout="启用3"] {/* 导出修复 */
    margin-left: 10px;
    box-sizing: border-box;
    max-width: 100%;
}
/* 题头图渐变 */
.protyle-background__img {
    & img {
        height: 35vh;
        filter: saturate(1.5);
    }
    &::after {/* ref Asri */
        content: '';
        position: absolute;
        top: 3.5vh;
        left: 0;
        width: 100%;
        height: 32vh;
        background: linear-gradient(to top, var(--b3-theme-background) 2%, rgba(from var(--b3-theme-background) r g b/0.97) 9%, rgba(from var(--b3-theme-background) r g b/0.9) 18%, rgba(from var(--b3-theme-background) r g b/0.75) 33%, rgba(from var(--b3-theme-background) r g b/0.05) 92%, transparent 99%);
        pointer-events: none;
    }
}
.protyle-background__icon {
    transform: scale(1.3) translateY(-20px);
    &[style*="margin-top"] {
        margin-top: 38px !important;
    }
}
.QYLmobile .protyle-background__icon {
    transform: scale(1.2);
    &[style*="margin-top"] {
        margin-top: 38px !important;
    }
}
.QYLmobile .protyle-background__img::after {
    top: -20px;
}
/* 视差 */
@keyframes QYLimgscroller {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(45vh);
      opacity: 0;
    }
}
@keyframes QYLiascroller {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(calc(100%)));
    opacity: 0;
  }
}
.layout__center :is(.fn__flex-1, .fn__flex, .fn__flex-column) [data-type="wnd"] > .fn__flex:first-child {
  & + .layout-tab-container {
      & > .fn__flex-1.protyle .protyle-breadcrumb {
          & + .protyle-content {
            scroll-timeline-name: --QYL-protyle-scroller;
              & .protyle-background__img {
                animation: QYLimgscroller linear;
                animation-timeline: --QYL-protyle-scroller;
                animation-range: 0 50vh;
                animation-duration: auto;
            }
            & .protyle-background__ia {
                animation: QYLiascroller linear;
                animation-timeline: --QYL-protyle-scroller;
                animation-range: 0 50vh;
                animation-duration: auto;
            }
          }
      }
  }
}
/* 列表动画 */
@keyframes QYLlienter {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
    }
    70% {
      transform: scale(1.2);
    }
    85% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1.3);
    }
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action::after {
    animation: QYLlienter 0.6s cubic-bezier(0.8, 0, 0.9, 1) forwards;
}
/* 超链接按钮样式 */
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext)[style*="background-color: var(--b3-font-background13"], .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref][style*="background-color: var(--b3-font-background13"] {
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-ref) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=a][style*="background-color: var(--b3-font-background13"] {
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-link) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref][style*="background-color: var(--b3-font-background13"] {
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-PDFmark) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref],
.protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-ref) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=a], 
.protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=a] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-link) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
.protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref],
.protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref] {
    border-radius: 6px;
    padding: 0.15em 0.2em;
    box-shadow: var(--b3-light-shadow);
    background-color: var(--QYL-PDFmark) !important;
    color: rgb(237, 237, 237) !important;
    font: 85% Consolas,"Liberation Mono",Menlo,Courier,monospace,var(--b3-font-family);
    border-bottom: none;
    opacity: 1 !important;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        background-color: var(--b3-theme-primary) !important;
        transition: var(--b3-transition);
    }
}
[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext)[style*="background-color: var(--b3-font-background13"],
[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref][style*="background-color: var(--b3-font-background13"],
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref],
[data-theme-mode="dark"] .protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
[data-theme-mode="dark"] .protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref] {
    --QYL-ref: rgba(165, 91, 203, 0.5);
}
[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=a][style*="background-color: var(--b3-font-background13"],
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=a],
[data-theme-mode="dark"] .protyle-wysiwyg [custom-link-style="按钮"] [data-node-id] span[data-type~=a] {
    --QYL-link: rgba(66, 106, 226, 0.5);
}
[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref][style*="background-color: var(--b3-font-background13"], 
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref],
[data-theme-mode="dark"] .protyle-wysiwyg[custom-link-style="按钮"] [data-node-id] span[data-type~=file-annotation-ref] {
    --QYL-PDFmark: rgba(22, 147, 22, 0.5);
}

/* 投影、镂空改为金箔、荧光 */
[data-theme-mode="light"] {
    --QYL-fluorescence-font: var(--b3-theme-background);
    --QYL-fluorescence-code-fix: var(--b3-theme-primary);
    --QYL-fluorescence-h-fix: var(--b3-theme-on-primary);
}
[data-theme-mode="dark"] {
    --QYL-fluorescence-font: rgb(246, 246, 246);
    --QYL-fluorescence-code-fix: var(--b3-theme-primary);
    --QYL-fluorescence-h-fix: var(--b3-theme-on-primary);
}
.protyle-font__style[data-type="style4"] {
    position: relative;
    color: rgba(255, 0, 0, 0);
    text-shadow: none !important;
    &:hover {
        box-shadow: 0 0 0 1px var(--b3-border-color) inset,0 0 0 3px var(--b3-list-hover);
    }
    &::before {
        content: "荧光";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-shadow: 0px 0px 0.15em var(--b3-theme-primary), 0px 0px 0.25em var(--b3-theme-primary) !important;
        color: var(--QYL-fluorescence-font) !important;
        filter: saturate(3.5);
    }
}
span[style*="text-shadow: 1px 1px var(--b3-theme-surface-lighter), 2px 2px var(--b3-theme-surface-lighter), 3px 3px var(--b3-theme-surface-lighter), 4px 4px var(--b3-theme-surface-lighter)"] {
    text-shadow: 0px 0px 0.15em var(--b3-theme-on-background), 0px 0px 0.25em var(--b3-theme-on-background) !important;
    color: var(--QYL-fluorescence-font) !important;
    filter: saturate(3.5);
    &[style*="color: var(--b3-font-color1)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color1), 0px 0px 0.25em var(--b3-font-color1) !important;  
    }
    &[style*="color: var(--b3-font-color2)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color2), 0px 0px 0.25em var(--b3-font-color2) !important;  
    }  
    &[style*="color: var(--b3-font-color3)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color3), 0px 0px 0.25em var(--b3-font-color3) !important;  
    } 
    &[style*="color: var(--b3-font-color4)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color4), 0px 0px 0.25em var(--b3-font-color4) !important;  
    }  
    &[style*="color: var(--b3-font-color5)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color5), 0px 0px 0.25em var(--b3-font-color5) !important;  
    }  
    &[style*="color: var(--b3-font-color6)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color6), 0px 0px 0.25em var(--b3-font-color6) !important;  
    }  
    &[style*="color: var(--b3-font-color7)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color7), 0px 0px 0.25em var(--b3-font-color7) !important;  
    }  
    &[style*="color: var(--b3-font-color8)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color8), 0px 0px 0.25em var(--b3-font-color8) !important;  
    }  
    &[style*="color: var(--b3-font-color9)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color9), 0px 0px 0.25em var(--b3-font-color9) !important;  
    }  
    &[style*="color: var(--b3-font-color10)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color10), 0px 0px 0.25em var(--b3-font-color10) !important;  
    }  
    &[style*="color: var(--b3-font-color11)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color11), 0px 0px 0.25em var(--b3-font-color11) !important;  
    }  
    &[style*="color: var(--b3-font-color12)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color12), 0px 0px 0.25em var(--b3-font-color12) !important;  
    }  
    &[style*="color: var(--b3-font-color13)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color13), 0px 0px 0.25em var(--b3-font-color13) !important;  
    }   
    &[style*="color: var(--b3-card-error-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-error-color), 0px 0px 0.25em var(--b3-card-error-color) !important;  
    }   
    &[style*="color: var(--b3-card-warning-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-warning-color), 0px 0px 0.25em var(--b3-card-warning-color) !important;  
    }   
    &[style*="color: var(--b3-card-info-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-info-color), 0px 0px 0.25em var(--b3-card-info-color) !important;  
    }   
    &[style*="color: var(--b3-card-success-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-success-color), 0px 0px 0.25em var(--b3-card-success-color) !important;  
    }   
}
.protyle-wysiwyg :is(.h1, .h2, .h3, .h4, .h5, .h6) > [spellcheck]:not(:empty) span[style*="text-shadow: 1px 1px var(--b3-theme-surface-lighter), 2px 2px var(--b3-theme-surface-lighter), 3px 3px var(--b3-theme-surface-lighter), 4px 4px var(--b3-theme-surface-lighter)"] {
    text-shadow: 0px 0px 0.15em var(--QYL-fluorescence-h-fix), 0px 0px 0.25em var(--QYL-fluorescence-h-fix) !important;
    color: var(--QYL-fluorescence-font) !important;
    filter: saturate(3.5);
    &[style*="color: var(--b3-font-color1)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color1), 0px 0px 0.25em var(--b3-font-color1) !important;  
    }
    &[style*="color: var(--b3-font-color2)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color2), 0px 0px 0.25em var(--b3-font-color2) !important;  
    }  
    &[style*="color: var(--b3-font-color3)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color3), 0px 0px 0.25em var(--b3-font-color3) !important;  
    } 
    &[style*="color: var(--b3-font-color4)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color4), 0px 0px 0.25em var(--b3-font-color4) !important;  
    }  
    &[style*="color: var(--b3-font-color5)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color5), 0px 0px 0.25em var(--b3-font-color5) !important;  
    }  
    &[style*="color: var(--b3-font-color6)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color6), 0px 0px 0.25em var(--b3-font-color6) !important;  
    }  
    &[style*="color: var(--b3-font-color7)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color7), 0px 0px 0.25em var(--b3-font-color7) !important;  
    }  
    &[style*="color: var(--b3-font-color8)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color8), 0px 0px 0.25em var(--b3-font-color8) !important;  
    }  
    &[style*="color: var(--b3-font-color9)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color9), 0px 0px 0.25em var(--b3-font-color9) !important;  
    }  
    &[style*="color: var(--b3-font-color10)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color10), 0px 0px 0.25em var(--b3-font-color10) !important;  
    }  
    &[style*="color: var(--b3-font-color11)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color11), 0px 0px 0.25em var(--b3-font-color11) !important;  
    }  
    &[style*="color: var(--b3-font-color12)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color12), 0px 0px 0.25em var(--b3-font-color12) !important;  
    }  
    &[style*="color: var(--b3-font-color13)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color13), 0px 0px 0.25em var(--b3-font-color13) !important;  
    }   
    &[style*="color: var(--b3-card-error-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-error-color), 0px 0px 0.25em var(--b3-card-error-color) !important;  
    }   
    &[style*="color: var(--b3-card-warning-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-warning-color), 0px 0px 0.25em var(--b3-card-warning-color) !important;  
    }   
    &[style*="color: var(--b3-card-info-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-info-color), 0px 0px 0.25em var(--b3-card-info-color) !important;  
    }   
    &[style*="color: var(--b3-card-success-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-success-color), 0px 0px 0.25em var(--b3-card-success-color) !important;  
    } 
}
.protyle-wysiwyg span[data-type~=code][style*="text-shadow: 1px 1px var(--b3-theme-surface-lighter), 2px 2px var(--b3-theme-surface-lighter), 3px 3px var(--b3-theme-surface-lighter), 4px 4px var(--b3-theme-surface-lighter)"] {
    text-shadow: 0px 0px 0.15em var(--QYL-fluorescence-code-fix), 0px 0px 0.25em var(--QYL-fluorescence-code-fix) !important;
    color: var(--QYL-fluorescence-font) !important;
    filter: saturate(3.5);
    &[style*="color: var(--b3-font-color1)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color1), 0px 0px 0.25em var(--b3-font-color1) !important;  
    }
    &[style*="color: var(--b3-font-color2)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color2), 0px 0px 0.25em var(--b3-font-color2) !important;  
    }  
    &[style*="color: var(--b3-font-color3)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color3), 0px 0px 0.25em var(--b3-font-color3) !important;  
    } 
    &[style*="color: var(--b3-font-color4)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color4), 0px 0px 0.25em var(--b3-font-color4) !important;  
    }  
    &[style*="color: var(--b3-font-color5)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color5), 0px 0px 0.25em var(--b3-font-color5) !important;  
    }  
    &[style*="color: var(--b3-font-color6)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color6), 0px 0px 0.25em var(--b3-font-color6) !important;  
    }  
    &[style*="color: var(--b3-font-color7)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color7), 0px 0px 0.25em var(--b3-font-color7) !important;  
    }  
    &[style*="color: var(--b3-font-color8)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color8), 0px 0px 0.25em var(--b3-font-color8) !important;  
    }  
    &[style*="color: var(--b3-font-color9)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color9), 0px 0px 0.25em var(--b3-font-color9) !important;  
    }  
    &[style*="color: var(--b3-font-color10)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color10), 0px 0px 0.25em var(--b3-font-color10) !important;  
    }  
    &[style*="color: var(--b3-font-color11)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color11), 0px 0px 0.25em var(--b3-font-color11) !important;  
    }  
    &[style*="color: var(--b3-font-color12)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color12), 0px 0px 0.25em var(--b3-font-color12) !important;  
    }  
    &[style*="color: var(--b3-font-color13)"] {
        text-shadow: 0px 0px 0.15em var(--b3-font-color13), 0px 0px 0.25em var(--b3-font-color13) !important;  
    }   
    &[style*="color: var(--b3-card-error-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-error-color), 0px 0px 0.25em var(--b3-card-error-color) !important;  
    }   
    &[style*="color: var(--b3-card-warning-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-warning-color), 0px 0px 0.25em var(--b3-card-warning-color) !important;  
    }   
    &[style*="color: var(--b3-card-info-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-info-color), 0px 0px 0.25em var(--b3-card-info-color) !important;  
    }   
    &[style*="color: var(--b3-card-success-color)"] {
        text-shadow: 0px 0px 0.15em var(--b3-card-success-color), 0px 0px 0.25em var(--b3-card-success-color) !important;  
    } 
}

.protyle-font__style[data-type="style2"] {
    position: relative;
    color: rgba(255, 0, 0, 0);
    -webkit-text-stroke: 0 !important;
    -webkit-text-fill-color: unset !important;
    &:hover {
        box-shadow: 0 0 0 1px var(--b3-border-color) inset,0 0 0 3px var(--b3-list-hover);
    }
    &::before {
        content: "金箔";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-weight: bold;
        background-image: url('../img/金箔.webp') !important;  
        -webkit-background-clip: text !important; 
        background-clip: text !important;
        color: transparent !important;
        background-size: contain !important;
        caret-color: gold;
        filter: saturate(2.5);
    }
}
span[style*="-webkit-text-stroke: 0.2px var(--b3-theme-on-background); -webkit-text-fill-color: transparent"]:not([data-type~=tag]) {
    -webkit-text-stroke: 0 !important;
    -webkit-text-fill-color: unset !important;
    background-image: url('../img/金箔.webp') !important;  
    -webkit-background-clip: text !important; 
    background-clip: text !important;
    color: transparent !important;
    background-size: contain !important;
    caret-color: gold;
    filter: saturate(2.5);
}
.protyle-wysiwyg span[style*="-webkit-text-stroke: 0.2px var(--b3-theme-on-background); -webkit-text-fill-color: transparent"][data-type~=tag] {
    -webkit-text-stroke: 0 !important;
    -webkit-text-fill-color: unset !important;
}
/* 半高背景 */
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background1)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background1) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background2)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background2) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background3)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background3) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background4)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background4) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background5)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background5) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background6)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background6) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background7)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background7) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background8)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background8) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background9)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background9) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background10)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background10) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background11)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background11) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background12)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background12) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-font-background13)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-font-background13) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-card-error-background)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-card-error-background) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-card-warning-background)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-card-warning-background) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-card-info-background)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-card-info-background) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
[custom-background-style="半高"] span[style*="background-color: var(--b3-card-success-background)"] {
    background-color: rgba(255, 0, 0, 0) !important;
    background: linear-gradient(to bottom, transparent 50%, var(--b3-card-success-background) 50%);
    border-radius: 0 !important;
    padding: 0 !important;
}
/* 修改手机端文字外观菜单 */
.QYLmobile .keyboard__slash-item[data-type="style4"] .keyboard__slash-text {
    position: relative;
    color: rgba(255, 0, 0, 0);
    text-shadow: none !important;
    &::before {
        content: "荧光";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-shadow: 0px 0px 0.15em var(--b3-theme-primary), 0px 0px 0.25em var(--b3-theme-primary) !important;
        color: var(--QYL-fluorescence-font) !important;
        filter: saturate(3.5);
    }
}
.QYLmobile .keyboard__slash-item[data-type="style2"] .keyboard__slash-text {
    position: relative;
    color: rgba(255, 0, 0, 0);
    -webkit-text-stroke: 0 !important;
    -webkit-text-fill-color: unset !important;
    &::before {
        content: "金箔";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-weight: bold;
        background-image: url('../img/金箔.png') !important;  
        background-clip: text !important; 
        -webkit-background-clip: text !important; 
        color: transparent !important;
        background-size: contain !important;
        caret-color: gold;
        filter: saturate(2.5);
    }
}