/* 面包屑 */
.protyle-breadcrumb__item:hover {
    background: var(--QYL-hover);
    transition: var(--b3-background-transition);
}
.protyle-breadcrumb__item--active {
    background: var(--b3-theme-primary);
    transition: var(--b3-background-transition);
}
.protyle-breadcrumb__item--active:hover {
    background: var(--b3-theme-primary);
    transition: var(--b3-background-transition);
}
.protyle-breadcrumb__item--active :is(svg, .protyle-breadcrumb__text) {
    color: var(--QYL-white);
}
.protyle-breadcrumb__item--active :is(svg, .protyle-breadcrumb__text):hover {
    color: var(--QYL-white);
}
.protyle-breadcrumb__item {
    height: 20px;
}
.protyle-breadcrumb__text[title=""] {
    margin-left: 0;
}
/* 退出聚焦 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    color: var(--b3-theme-primary);
    font-weight: bold;
    height: 22px;
    line-height: 0px;
    padding: 0px 5px !important;
    border: 1.5px solid var(--b3-theme-primary);
    transition: var(--b3-transition);
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    overflow: hidden;
    --translate-offset: 220%;
    &:before {
        content: "";
        background-color: rgba(255,255,255,0.8);
        height: 100%;
        width: 30%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: skewX(-45deg) translateX(calc(-1 * var(--translate-offset)));
    }
    &:hover, &:focus  {
        background-color: var(--b3-theme-primary);
        color: var(--b3-theme-on-primary);
      &::before {
          transition: 0.4s cubic-bezier(0.8, 0, 0.9, 1);
          transform: skewX(-45deg) translateX(calc(var(--translate-offset) + 270%));
      }
    }
}
/* 临时解锁 */
.protyle-breadcrumb .block__icon[aria-label="取消临时解锁"] svg {
    color: var(--b3-theme-primary);
}